<div class="back">
    <div>
        <h1 class="title">Wall Art</h1>
    </div>
    <div class="product-section">
        <div class="product-card">
            <div class="product-layout">
                <div class="framed"></div>
                <div class="product-info">
                    <h3>Framed Art</h3>
                    <p class="description">The age-old classic, framed art pieces are like the Little Black Dress of wall decor — always in vogue. Whether it’s a cherished family portrait, a vintage map, or a unique graphic print, frames provide structure and elegance to an otherwise blank wall. With the plethora of frame designs out there, you can easily customize them to fit different types of wall art styles.</p>                    <p class="price-range">$50 - $100</p>
                </div>
            </div>
        </div>
        
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Canvas Art</h3>
                    <p class="description">A little textured and oh-so-posh, canvas wall art brings gallery walls to life. It feels as if the artwork might just leap off the wall and join you for tea! Canvas wall art can be used to create a focal point in a space or as a decorative addition to any room</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="canvas"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="stickers"></div>
                <div class="product-info">
                    <h3>Sculptures</h3>
                    <p class="description">3D art on walls? You bet! Wall-mounted sculptures play with light, shadow, and perspective. Be it abstract forms, lifelike busts, or geometric designs, they’re a dynamic addition. Wall-mounted sculptures are a great way to add a touch of sophistication and drama to your walls. Make sure to account for the material and finish of the sculpture you choose to ensure proper care and that it compliments the space it is placed in. </p>
                    <p class="price-range">$30 - $80</p>
                </div>
            </div>
        </div>

        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Metal Wall Art</h3>
                    <p class="description">Overmantel mirrors, also known as chimney mirrors, are a popular choice for home decor. These mirrors are designed to be hung above a fireplace, creating a striking focal point in the living room or dining area.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="metal"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Wood Art</h3>
                    <p class="description">Wood wall art is a great way to add a touch of warmth and character to your walls. It can also be used to create a cozy and inviting atmosphere. When choosing wood wall art, consider the type of wood, the grain, and the finish.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="wood"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Woven Wall Hangings</h3>
                    <p class="description">A delightful nod to handcraft and tradition, woven wall hangings are rich in texture and personality. Often made of yarn, they’re tactile, playful, and add a cozy touch. They can also create a unique and personal look in your home.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="wooven"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Photo Frames Art</h3>
                    <p class="description">3D art on walls? You bet! Wall-mounted sculptures play with light, shadow, and perspective. Be it abstract forms, lifelike busts, or geometric designs, they’re a dynamic addition. Wall-mounted sculptures are a great way to add a touch of sophistication and drama to your walls.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="photo"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Decals</h3>
                    <p class="description">From witty quotes to silhouettes, they offer a dash of fun without the permanence. Decals are a great way to add a temporary touch of personality to your walls.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="decal"></div>
            </div>
        </div>
     
    </div>
</div>
