<div class="back">
    <div>
        <h1 class="title">Explore Different Types of Lighting & Chandeliers</h1>
    </div>
    <div class="product-section">
        <div class="product-card">
            <div class="product-layout">
                <div class="ambient"></div>
                <div class="product-info">
                    <h2>Ambient Lighting</h2>
                    <p>Try out ambient lighting options for your home.When you want soft, even home lighting ideas, go for ambient lighting. Ambient lighting can count as natural light filtering into your home or a soft glow imparted by your indoor lights. The purpose of ambient
                         lighting as house lighting design is to enhance the ambience of the home.</p>
                     <p class="price-range">$50 - $100</p>
                </div>

            </div>
        </div>
        
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="account"></div>
                <div class="product-info">
                    <h2>Accent Lighting</h2>
                   <p> Make a grand entrance to your house by using accent lighting for the foyer.Accent lighting accentuates an area. When you want to create focused lighting to highlight a particular area or corner, you should opt for accent 
                    lighting. This is a good home lighting solution to showcase paintings and display shelves. </p>
                     <p class="price-range">$50 - $100</p>
                </div>

            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="track"></div>
                <div class="product-info">
                    <h2>Track Lighting</h2>
                  <p> Track lighting is a sleek and stylish lighting solution.Track lighting is a system that is attached to a continuous track device which contains electrical conductors. These house lighting ideas avoid individual wiring, connecting several lighting fixtures to one 
                    wiring system. This lighting is also used to create focal points in the house.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
            </div>
        </div>

        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h2>Chandeliers</h2>
            <p> Add character to your rooms with chandeliers.These lighting fixtures offered tiered lighting to ensure your home is  brightly lit</p>

                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="Chandeliers"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h2>Wall-Mounted Lights</h2>
            <p> Save floor space with wall-mounted lights.They can be used to light up a corner or illuminate the study table. Their biggest benefit, though, is that they are efficient
                 home lighting design solutions for homes that have a space crunch.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="wallmounted"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Recessed Lights</h3>
                    <p class="description"> Create even lighting with recessed lights.Recessed lighting is installed directly into the ceiling.Recessed lighting creates even illumination in any room they are installed in.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="recessed"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Cove Lights</h3>
                    <p class="description"> Enhance your ceilings with cove lightsCove lights are a type of uplight that direct light to the ceiling plane from a cove on one or more sides of a room. 
                        This type of lighting design is meant to provide overall diffuse illumination.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="cove"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Task Lighting</h3>
                    <p class="description">Task lighting is great for under-cabinet illumination in the kitchen.Task lighting creates illumination for a specific spot. They are popular under-cabinet lights, especially in the kitchen. They are bright, comfortable and environment friendly.
                         Task home lighting ideas focus on illuminating a specific task, maximising productivity.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="task"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Pendant Lights</h3>
                    <p class="description">Create focused lighting on the dining table with pendant lights.A pendant light is any light fixture that hangs down from the ceiling on a rod, chain. They are typically single fixtures but are also available as a set. . Whether you hang them in a corner,
                         or make them the centre of attraction, hanging lights are perfect for any part of your home.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="pendant"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Industrial Lights</h3>
                    <p class="description">Give your home an edgy vibe with industrial lighting.Industrial design is marked by raw edges and rustic finishes. When it comes to industrial lighting ideas, they typically include naked bulbs, exposed ducts and ropes. Apart from adding a quirk factor to the interiors, 
                        these home lighting design ideas ensure that your home has an edgy vibe</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="industrial"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Foyer lighting</h3>
                    <p class="description">Get a grand opening with a well-lit foyer.There’s a lot more to home lighting design than functionality. In fact, designers say that the right lighting can elevate your interiors. And it starts right from the entrance of your home! Whether the entrance is wide, narrow or barely there, there are several ways to brighten your entryway in style. Spotlights in the entryway help highlight specific elements
                         with an accent wall to create drama or they can be used as statement pieces to catch attention.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="foyer"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Living Room lighting</h3>
                    <p class="description">Add glitz and glam to your living room with the right lighting!.Living room lighting is all about adding glam and glitz with various fixtures. Timeless chandeliers never seem to go out of style, while wall sconces are perfect mood lighting. 
                        If you don’t want to waste floor space, you can always go for a table lamp instead of a floor lamp.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="living"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3> Bedroom Lighting</h3>
                    <p class="description">Aim to use dimmable lights in the bedroom for better sleep. We always advice homeowners to get dimmable lights for this house lighting design. You can also opt for pendant lights, cove lights and various other options available in the market.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="bedroom"></div>
            </div>
        </div>
        <div class="product-cardtwo  ">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Dining Room lighting</h3>
                    <p class="description"> Pick a statement piece for your dining room design.Amongst all the common areas in the house, the dining area holds a special place in our hearts.
                         It brings family and friends together for conversations over some good food. So, wouldn’t you love to shine some light on this zone and in style? From cascading pendants to subtle recessed lights, 
                        whatever your style is, we have a home lighting design solution for everyone.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="dining "></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Kid’s Bedroom Lighting</h3>
                    <p class="description">Keep aesthetics and safety in mind for the kids room.Lighting is especially important in kids’ rooms where safety is paramount. 
                        Thus, the perfect home lighting design idea is one that is fun and functional. Pendant lights
                         can be used over task areas like a study table or a high-ceilinged play area. </p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="kids"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Kitchen Lighting</h3>
                    <p class="description"> Light your kitchen properly with several fixtures.Kitchen lighting should light up every corner. For an important activity like cooking, a mix of recessed and task lighting is preferred.
                         Task lights are ideal for under the cabinets as they are bright and create a focused lighting for the same..</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="kitchen"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3> Bathroom Lighting</h3>
                    <p class="description"> You can also use LED mirrors in the bathroom.Bathroom lights are one of the key features of bathroom design. 
                        It is advisable to use more than one type of lighting. For example, use pendant or task lights for the bathroom mirror as you need a focused light to do your makeup or shave. 
                        You can install ambient lighting over the shower/bathtub to create a relaxing environment.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="bathroom"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Study Room Lighting</h3>
                    <p class="description">Under-shelf lights help create the right focus.Pick a quiet room with plenty of natural light. Task lighting is apt here as well.
                         You can also install recessed or track lighting to achieve a similar objective.</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="study"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Corners Lighting</h3>
                    <p class="description">Light up corners with lamps, wall-mounted lights and pendants</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="corners"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Garden/Balcony lighting</h3>
                    <p class="description">Set the mood in the balcony with ambient lighting</p>
                    <p class="price-range">$30 - $80</p>
                </div>
                <div class="garden"></div>
            </div>
        </div>
     
    </div>
</div>
