<div class="container">
  <section class="s2">
    <div class="main-container">
      <div class="about-wrapper">
        <div>
         
          <h4 class="t">Services Offered</h4>
          <p class="p">
            Transform your living spaces with Wendy’s Interiors! We offer a diverse range of services designed to elevate both the functionality and beauty of your interiors. Discover the possibilities and explore our offerings tailored to meet your unique style. 
            <a href="../../assets/files/services offered.pdf" download>Download our full list of services</a> and start your journey to a more inspiring home.
        </p>               
          <div id="services">
            <div class="service-item">
              <h1 class="titletwo">Residential Interior Design</h1>
              <ul>
                <li>Space Planning</li>
                <li>Furniture Selection and Arrangement</li>
                <li>Color Consultation</li>
                <li>Lighting Design</li>
                <li>Custom Cabinetry and Built-ins</li>
                <li>Material and Finish Selection</li>
                <li>Decorating Services</li>
              </ul>
            </div>
            <div class="service-item">
              <h1 class="titletwo">Commercial Interior Design</h1>
              <ul>
                <li>Office Design</li>
                <li>Retail Design</li>
                <li>Hospitality Design</li>
                <li>Healthcare Design</li>
                <li>Brand Identity Design</li>
              </ul>
            </div>
            <div class="service-item">
              <h1 class="titletwo">Specialty Interior Design Services</h1>
              <ul>
                <li>Sustainable Design</li>
                <li>Universal Design</li>
                <li>Smart Home Design</li>
                <li>Home Staging</li>
              </ul>
            </div>
            <div class="service-item">
              <h1 class="titletwo">Consulting Services</h1>
              <ul>
                <li>Design Consultation</li>
                <li>Project Management</li>
                <li>Budget Planning</li>
                <li>3D Rendering and Visualization</li>
              </ul>
            </div>
            <div class="service-item">
              <h1 class="titletwo">Custom Services</h1>
              <ul>
                <li>Custom Furniture Design</li>
                <li>Art and Accessories Procurement</li>
                <li>Renovation and Remodeling</li>
              </ul>
            </div>
            <div class="service-item">
              <h1 class="titletwo">Additional Services</h1>
              <ul>
                <li>Event Design</li>
                <li>Seasonal Design</li>
                <li>Interior Styling</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="products">
    <h4 class="title">Products</h4>
  
    <div class="product-row">
      <div class="product-item card">
        <div class="card-image productone"></div>
        <div class="card-content">
          <p class="product-description">Mirrors</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image producttwo"></div>
        <div class="card-content">
          <p class="product-description">Carpets</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image productthree"></div>
        <div class="card-content">
          <p class="product-description">Vases</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image productfour"></div>
        <div class="card-content">
          <p class="product-description">Wall Art</p>
        </div>
      </div>
    </div>
  
    <div class="product-row">
      <div class="product-item card">
        <div class="card-image productfive"></div>
        <div class="card-content">
          <p class="product-description">Decor pieces</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image productsix"></div>
        <div class="card-content">
          <p class="product-description">Lighting</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image productseven"></div>
        <div class="card-content">
          <p class="product-description">Artificial plants</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image producteight"></div>
        <div class="card-content">
          <p class="product-description">Candles</p>
        </div>
      </div>
    </div>
  
    <div class="product-row">
      <div class="product-item card">
        <div class="card-image productnine"></div>
        <div class="card-content">
          <p class="product-description">Colorful glassware</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image productten"></div>
        <div class="card-content">
          <p class="product-description">Decorative pillows</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image producteleven"></div>
        <div class="card-content">
          <p class="product-description">Diffusers</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image producttwelve"></div>
        <div class="card-content">
          <p class="product-description">Photo frames</p>
        </div>
      </div>
    </div>
  
    <div class="product-row">
      <div class="product-item card">
        <div class="card-image prodone"></div>
        <div class="card-content">
          <p class="product-description">Trending curtains</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image prodtwo"></div>
        <div class="card-content">
          <p class="product-description">Wall papers</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image prodthree"></div>
        <div class="card-content">
          <p class="product-description">Glass marbles</p>
        </div>
      </div>
      <div class="product-item card">
        <div class="card-image prodfour"></div>
        <div class="card-content">
          <p class="product-description">Showpieces</p>
        </div>
      </div>
    </div>
  </section>
  

</div>
