
<section class="Design">
    <div class="container grid">
      <div class="box flex">
        <i class="fa fa-qrcode"></i>
        <div class="text">
          <h4>Creative Solutions</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="box flex">
        <i class="fa fa-wpexplorer"></i>
        <div class="text">
          <h4>Design Interior</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="box flex">
        <i class="fa fa-lightbulb-o"></i>
        <div class="text">
          <h4>Intuitive Design</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </section>