<div class="container">
<section class="s2">
  <div class="main-container">
    
    <div class="about-wrapper">
      <div >
        <h4 class="title">Services Offered</h4>

        <p>click the link below to get full decription of services offred: <a target="_blank" href="../../assets/images/services offered.pdf">Download Services</a></p>

        <div id="services">
          <div class="service-item">
            <h1 class="titletwo">Residential Interior Design</h1>
            <ul>
              <li>Space Planning</li>
              <li>Furniture Selection and Arrangement</li>
              <li>Color Consultation</li>
              <li>Lighting Design</li>
              <li>Custom Cabinetry and Built-ins</li>
              <li>Material and Finish Selection</li>
              <li>Decorating Services</li>
            </ul>
          </div>
          <div class="service-item">
            <h1 class="titletwo">Commercial Interior Design</h1>
            <ul>
              <li>Office Design</li>
              <li>Retail Design</li>
              <li>Hospitality Design</li>
              <li>Healthcare Design</li>
              <li>Brand Identity DesignL</li>
            </ul>
          </div>
          <div class="service-item">
            <h1 class="titletwo">Specialty Interior Design Services</h1>
            <ul>
              <li>Sustainable Design</li>
              <li>Universal Design</li>
              <li>Smart Home Design</li>
              <li>	Home Staging</li>
             
            </ul>
          </div>
          <div class="service-item">
            <h1 class="titletwo">Consulting Services</h1>
            <ul>
              <li>Design Consultation</li>
              <li>Project Management</li>
              <li>Budget Planning</li>
              <li>3D Rendering and Visualization</li>
             
            </ul>
          </div>
          <div class="service-item">
            <h1 class="titletwo">Custom Services</h1>
            <ul>
              <li>Custom Furniture Design</li>
              <li>Art and Accessories Procurementa</li>
              <li>	Renovation and Remodeling</li>
              
            </ul>
          </div>
          <div class="service-item">
            <h1 class="titletwo">Additional Services</h1>
            <ul>
              <li>Event Design</li>
              <li>Seasonal Design</li>
              <li>	Interior Styling</li>
              
            </ul>
          </div>
        </div>
        
        

      </div>
  

      
    </div>

  </div>
  
</section>
<div class="products">
  <h4 class="title">Products</h4>
  <div class="product-row">
    <div>
      <div class="productone"></div>
      <p class="product-description">Description for Product 1</p>
    </div>
    <div>
      <div class="producttwo"></div>
      <p class="product-description">Description for Product 1</p>
    </div>
    <div >
      <div class="productfour"></div>
      <p class="product-description">Description for Product 1</p>
    </div>
  </div>
</div>


</div>