<div>
    <h1 class="title">Carpets,Mats and Rugs</h1></div>


<div class="product-section">
    <div class="product-card">
        <div class="mat"></div>
        <div class="product-info">
            <h3>Modern Bold Print Kitchen or hallway Mat</h3>
            <p class="description">LUXURY GEOMETRIC PRINTED CARPETS Introducing our stunning geometric printed carpet, a perfect addition to any modern and contemporary interior space including your kitchen or hallwayy! Crafted with high-quality materials and advanced printing technology, this carpet boasts a bold and eye-catching geometric pattern that will elevate any room's aesthetic. The intricate design features sharp lines and angles that create a dynamic sense of movement and depth, adding an artistic touch to your floorin</p>
            <p class="price-range">$50 - $100</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="rug"></div>
        <div class="product-info">
            <h3>Living Room Rug Area Solid Carpet </h3>
            <p class="description"> European and American StyleUse: Toilet,Home,Bedroom,Bathroom,Hotel,Decorative,OutdoorWash Style: Hand WashPlace: ParlorPattern Type: SolidShape: RectangleMaterial: Fleece FabricTechnics: Machine MadeDecoration Style</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    <div class="product-card">
        <div class="round"></div>
        <div class="product-info">
            <h3> Round Area Rug for Bedroom</h3>
            <p class="description">Our shaggy area rugs are made of high-quality material, which has excellent texture, This fluffy carpet is soft and comfortable, suitable for babies, Dense surface that is soft to the touch and piles that feeling like stepping out onto a cloud and shields toes from the cold floor</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <!-- Add more product cards as needed -->
</div>
