.back {
    background-image: url('../../assets/images/backgroundone.jpeg');
    margin-top: -1rem;
}

.title {
    color:blue;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
  }
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 20%;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden; /* Prevent overflow of content */
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.description {
    color: #555;
    margin-bottom: 8px;
    text-align: left;
}

.price-range {
    font-weight: bold;
    color:red;
}

.rug,.mat,.bedroom
,.dining
,.hallway
,.entrance
,.fatigue
,.gym
,.chair
,.logo
,.outdoor
,.bath{
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Aspect ratio to maintain image proportions (4:3) */
    background-size: cover;
    background-position: center;  
    border-radius: 8px 8px 0 0; /* Add rounded corners to top of the card */
}

.mat {
    background-image: url('../../assets/images/mat.jpeg');
}
.rug {
    background-image: url('../../assets/images/rug.jpeg');
}
.bedroom  {
    background-image: url('../../assets/mats/BedroomCarpet.jpeg');
}
.dining  {
    background-image: url('../../assets/mats/dining.jpeg');
}

.hallway  {
    background-image: url('../../assets/mats/hallway.jpeg');
}
.entrance  {
    background-image: url('../../assets/mats/entrance.jpeg');
}
.fatigue  {
    background-image: url('../../assets/mats/Fatigue.jpeg');
}
.gym  {
    background-image: url('../../assets/mats/gym.jpeg');
}
.chair  {
    background-image: url('../../assets/mats/chairmat.jpeg');
}
.logo  {
    background-image: url('../../assets/mats/logo.jpeg');
}
.outdoor  {
    background-image: url('../../assets/mats/outdoor.jpeg');
}
.bath  {
    background-image: url('../../assets/mats/Bathroommat.jpeg');
}



h3 {
    color:blue;
    font-style: italic;
  }


/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .product-card {
        width: 100%; /* Full width on smaller devices */
    }
}
