

.title {
    color:blue;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden; /* Prevent overflow of content */
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.description {
    color: #555;
    margin-bottom: 8px;
}

.price-range {
    font-weight: bold;
    color: #1a73e8;
}

.one, .two,.round {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Aspect ratio to maintain image proportions (4:3) */
    background-size: cover;
    background-position: center;  
    border-radius: 8px 8px 0 0; /* Add rounded corners to top of the card */
}

.one {
    background-image: url('../../assets/mirror/one.jpeg');
}

.two {
    background-image: url('../../assets/mirror/two.jpeg');
}
.round {
    background-image: url('../../assets/mirror/Round.jpeg');
}
h3 {
    color:blue;
    font-style: italic;
  }


/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .product-card {
        width: 100%; /* Full width on smaller devices */
    }
}
