
<div class="back">
    <div>
        <h1 class="title">Best Type of Wallpapers for Residential Houses</h1></div>
     <div class="product-section">
            <div class="product-card">
                <div class="mural"></div>
                <div class="product-info">
                    <h3>Mural Wallpapers</h3>
                    <p class="description"> The mural wallpaper is ideal for bringing vitality and breaking up monotony in a place to prevent drabness. Using various arts, you can hang it in the kids’ room, corridor, living room, bedroom, etc.. Mural wallpapers have the amusing feature that you can choose the kind of art you want for your background.</p>
                    <p class="price-range"> Kshs.1,500 – to Kshs.3,500 per roll </p>
                </div>
            </div>
            
            <div class="product-card">
                <div class="floral"></div>
                <div class="product-info">
                    <h3> Floral Wallpapers </h3>
                    <p class="description">The usage of flower wallpaper for your house is another popular trend; when you touch them, your space exudes an inviting, natural vibe
                    </p>
                    <p class="price-range"> Kshs.1,500 – to Kshs.3,500 per roll </p>
                </div>
            </div>
          
            <!-- Add more product cards as needed -->
        </div>
    
    <div class="product-section">
        <div class="product-card">
            <div class="textured"></div>
            <div class="product-info">
                <h3>Textured Wallpapers</h3>
                <p class="description"> A wall can occasionally be made to appear as though it is composed of a natural, textured substance by using textured wallpaper.</p>
                <p class="price-range"> Kshs.1,500 – to Kshs.3,500 per roll </p>
            </div>
        </div>
        
        <div class="product-card">
            <div class="contact"></div>
            <div class="product-info">
                <h3> Contact papers</h3>
                <p class="description"> For those of you unfamiliar, the product is smooth and often has a sticky surface on one side and a decorative surface on the other side. The paper adheres to the target surface effortlessly. The ideal places to use contact paper are on kitchen counters, to cover a refrigerator, to make do-it-yourself furniture, to brighten up a stairway, etc</p>
                <p class="price-range"> Kshs.1,500 – to Kshs.3,500 per roll </p>
            </div>
        </div>

    
        <!-- Add more product cards as needed -->
    </div>
    
    
    </div>