.back {
    background-color: #796b6b;
    margin-top: -1rem;
}

.title {
    color:white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
   
  }
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.product-card,.product-card{
    width: 30%;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden; /* Prevent overflow of content */
}


.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.description {
    color: #555;
    margin-bottom: 8px;
    text-align: left;
}

.price-range {
    font-weight: bold;
    color:red;
}

.mural,.floral,.textured,.contact,.ceiling,.liquid{
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Aspect ratio to maintain image proportions (4:3) */
    background-size: cover;
    background-position: center;  
    border-radius: 8px 8px 0 0; /* Add rounded corners to top of the card */
}

.mural{
    background-image: url('../../assets/wallpaper/murall.jpeg');
}
.floral{
    background-image: url('../../assets/wallpaper/floral.jpeg');
}
.textured{
    background-image: url('../../assets/wallpaper/textured.jpeg');
}
.contact {
    background-image: url('../../assets/wallpaper/contact.jpeg');
}
.ceiling {
    background-image: url('../../assets/wallpaper/ceiling.jpeg');
}
.liquid {
    background-image: url('../../assets/wallpaper/liquid.jpeg');
}





h3 {
    color:blue;
    font-style: italic;
  }


/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .product-card {
        width: 100%; /* Full width on smaller devices */
    }
}
