
<div class="back">
    <h1 class="title">The Best Colorful Glassware </h1>

<div class="product-section">
    <div class="product-card">
        <div class="timefoto"></div>
        <div class="product-info">
            <h3> Time Foto Vintage</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="pottery"></div>
        <div class="product-info">
            <h3>Pottery Barn Jupiter</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="vintage"></div>
        <div class="product-info">
            <h3>Godinger Claro Vintage Tumbler Glasses</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="goblet"></div>
        <div class="product-info">
            <h3>Colored Glass Goblets</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="wineglass"></div>
        <div class="product-info">
            <h3>Estelle Stemmed Wine Glasses</h3>
        </div>
    </div>

   
</div>
<div class="product-section">
    <div class="product-card">
        <div class="housewares"></div>
        <div class="product-info">
            <h3>Whole Housewares Colored Goblets</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="blomus"></div>
        <div class="product-info">
            <h3>Blomus Modern Colored Glasses</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="kinto"></div>
        <div class="product-info">
            <h3>Kinto Sepia Amber Glasses and Mugs</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="outdoor"></div>
        <div class="product-info">
            <h3>Fortessa Sole Outdoor Wine Glasses</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="teaspressa"></div>
        <div class="product-info">
            <h3>Teaspressa Colorful Glass Mug</h3>
        </div>
    </div>

   
</div>

<div class="product-section">
    <div class="product-card">
        <div class="champaigne"></div>
        <div class="product-info">
            <h3> Estelle Colored Champagne Flutes</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="duraclear"></div>
        <div class="product-info">
            <h3>DuraClear® Tritan Highball Glasses</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="xaquixe"></div>
        <div class="product-info">
            <h3>Xaquixe Small Tumblers</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="stackable"></div>
        <div class="product-info">
            <h3> Stackable Night + Day Glasses</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="sophielou"></div>
        <div class="product-info">
            <h3>Sophie Lou Jacobsen Large Ripple Cups</h3>
        </div>
    </div>

   
</div>

<button class="button"  [routerLink]="['/products']">Exit</button>

</div>


