<div class="background">
    <div class="back">
        <h1 class="title">Commercial Interior Design Ideas</h1>
    <p class="descriptions">Whether you’re redecorating your outdated office space or you’re looking to create a new restaurant from scratch, conventional interior design ideas that work well for residential buildings doesn’t really work as well for most commercial settings. These five basic commercial interior design ideas can help you find the perfect interior for your new commercial design project.</p>
    <h3> Glass</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="glass"></div>
            <div class="product-info">
    
            </div>
        </div>
    </div>
    
    <p class="description">One of the most important parts of any good commercial interior design is the use of glass. It works perfect for dividing spaces, yet still allows for an open and airy feel without overcomplicating the design theme. Glass table tops and glass partitions are just a few of the most common glass design features in commercial interiors. And what makes glass a truly monumental design theme for commercial structures is that it’s affordable, works well with just about any design theme and also adds to the overall performance of a commercial space.</p>
    <h3>Modern Décor</h3>

    <div class="product-section">

        <div class="product-card">
            <div class="modern"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">It’s one of the most prolific design themes available for commercial structures, yet it’s probably one of the least used. While modern design hints at being—well modern—the fact of the matter is that this design theme has been around for nearly a century. Hard, smooth lines, minimalist color combinations and the use of industrial materials like plastic and steel are all fabulous features that customers find attractive. Modern design décor materials help to create the illusion of high-tech innovation, without the need to go all out on a complete modern design theme.</p>   
    <h3>Layered Lighting</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="layered"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">Lighting can play a serious role in commercial interior design. It’s important in not only that it makes the space available and safe for customers, but it also helps to define spaces without the need for walls. Whether it’s a few well-placed skylights or a dozen multi-colored lights scattered throughout the space, the right lighting choices can make all the difference. Go for a combination of natural, ambient and task lighting sources to keep your lighting scheme from feeling artificial and vacant</p>
    <h3>Choose the Appropriate Theme</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="theme"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">many commercially designed structures don’t match their commercial properties. For instance, if you’re going to open a Spanish themed restaurant, it makes perfect sense to develop a Latin-styled theme for your décor and design scheme. If you’re opening a camping store, you probably don’t want to use an Asian theme—a rustic theme might suit your commercial setting best. All in all, choose a theme that suits your businesses theme best and you’ll be sure to get a commercial design everyone is going to love.</p>
        <h3>Colors</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="colors"></div>
            <div class="product-info">
                
            </div>
        </div>
        
    
    </div>
    <p class="description"> Choose a good combination of both—natural colors accented by bold and bright colors—and you can’t go wrong. Also, if you’re looking to really make a splash with your color choice, you may want to consider using the same color scheme as your company logo. Let Caesarstone help build your company brand by infusing your office space with the perfect array of colorful countertops.</p>    
    
    <button class="button"  [routerLink]="['/projects']">Exit</button>
    </div>
    </div>