.contact-container {
  display: flex;
  flex-direction: column; /* Stack image and content vertically */
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  max-width: 1200px;
}
.card {
  background-color: rgba(255, 0, 0, 0.288); /* Card background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Internal padding */
  margin: 0 10px; /* Spacing between cards */
  flex: 1; /* Equal space for each card */
}

.contact-details, .location {
  flex: 1; /* Make both sections take up equal space */
  padding: 0 20px; /* Add some padding for spacing */
  text-align: left; /* Align text to the left */
}
.image-row {
  display: flex; /* Align images in a row */
  justify-content: center; /* Center the images */
  margin-bottom: 20px; /* Space between images and contact details */
}
.contactimage, .cont {
  background-position: center;
  width: 40rem; 
  height: 20rem; 
  margin: 0 1rem; /* Adjust spacing between images */
}

.contactimage {
  background-image: url('../../assets/images/ContactUs-2024.jpg');
  width: 40rem; 
  height: 21rem; 
  margin-top: -2rem; /* Space between image and contact details */
  position: relative;
  margin-left: 1rem;
  border-radius: 50%;

}
.cont {
  background-image: url('../../assets/images/down.jpeg');
  width: 21rem;
  height: 21rem;
  margin-top: -2rem;
  position: relative;
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
}

.social-media-icons {
  display: flex;
  justify-content: start; /* Align icons to the left */
  gap: 15px;
  margin-top: 10px; /* Add space above the icons */
}

.facebook, .x, .linkedin, .instagram {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 
}

.facebook {
  background-image: url('../../assets/images/facebook.png');
  width: 39px;
  height: 39px;
}

.x {
  background-image: url('../../assets/images/x 2.png');
  width: 32px;
  height: 32px;
}

.linkedin {
  background-image: url('../../assets/images/linkedin.png');
  width: 39px;
  height: 39px;
}

.instagram {
  background-image: url('../../assets/images/instagram (1).png');
  width: 32px;
  height: 32px;
}

.contact {
  background-color: gainsboro;
  padding: 20px;
  margin-top: 20px;
}
