<section class="contact">
    <div class="contact-container">
        <div class="image-row">
            <div class="contactimage"></div>
            <div class="cont"></div>
        </div>
        <div class="contact-details-wrapper">
            <div class="card">
                <div class="contact-details">
                    <h2>Contact Us</h2>
                    <p>Feel free to reach out to us through any of the following methods:</p>
                    <div class="contact-methods">
                        <p><strong>Phone:</strong> 254748831857/254764737420</p>
                        <p><strong>Email:</strong> emeldahngiye&#64;gmail.com</p>
                        <p><strong>Follow us on:</strong></p>
                        <div class="social-media-icons">
                            <a href="https://www.facebook.com/wendys_interiors4" target="_blank">
                                <div class="facebook"></div>
                              
                            </a>
                            <a href="https://twitter.com/wendys_interiors4" target="_blank">
                                <div class="x"></div>
                                                         </a>
                            <a href="https://www.linkedin.com/wendys_interiors4" target="_blank">
                                <div class="linkedin"></div>
                                                          </a>
                            <a href="https://www.instagram.com/wendys_interiors4/" target="_blank">
                                <div class="instagram"> </div>                                                                 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="location">
                    <h2>Location</h2>
                    <p>Wendy Interiors Office</p>
                    <p>online shop </p>
                    <p>call to request service or to order</p>
                    <p>Kajiado, Kenya</p>
                </div>
            </div>
        </div>
    </div>
  </section> 
  