
#content {
    
    background-image: url('../../assets/images/aboutus.jpeg');
    min-height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: -40px; /* Adjust this value as needed */
}
/* Apply Flexbox to the parent container */
.main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    flex-direction: column; 
}

/* Style for paragraphs */
.main-content p {
    color: whitesmoke; 
    font-size: 70px; 
    font-weight: 900;
    padding: 10px; 
    border-radius: 5px; 
    background-color: gray; 
    display: inline-block; 
    margin: 10px 0; 
}






