<div class="container-fluid">
  <section id="content" class="content-section">
    <div class="left">
      <h2>Crafting Spaces that Reflect Your Style</h2>
      <button > <label>About us</label> </button>
      <div>
        <p>At Wendy's Interiors, we believe that your space should be a true reflection of your personality and lifestyle. With a passion for design and a keen eye for detail, we specialize in transforming ordinary spaces into extraordinary environments that inspire and delight.</p>
      </div>

      <button >Our Vision</button>
      <div>
        <p>At Wendy's Interiors, our vision is to be a leading name in the interior design industry, known for our creativity, innovation, and commitment to customer satisfaction. We strive to continuously push the boundaries of design, creating spaces that are not only beautiful but also meaningful and impactful.</p>
      </div>

      <button>Our mission</button>
      <div>
        <p>Our mission is to bring your vision to life by creating beautiful, functional, and personalized interiors. We are committed to delivering exceptional design solutions that enhance the aesthetic and functionality of your space while staying true to your unique tastes and preferences.</p>
      </div>

      <button>Main services</button>
      <div>
        <p>Whether you're looking to revamp a single room or undertake a complete home makeover, Wendy's Interiors is here to guide you every step of the way.</p>
      </div>
    </div>

    
    <div class="container">
      <div class="right">
        <div class="photo"></div>
        <div class="p"></div>
      </div>
      
    </div>
    
  
    
  </section>
</div>

