<div class="back">
    <h1 class="title">Vases</h1>

<div class="product-section">
    <div class="product-card">
        <div class="masonjar"></div>
        <div class="product-info">
            <h3>Mason Jar Vase</h3>
            <p class="description">It's the perfect vessel for a small, casual arrangement to add a touch of rustic charm to your home.</p>
            <p class="price-range">$50 - $100</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="bud"></div>
        <div class="product-info">
            <h3>Bud  Flower Vase</h3>
            <p class="description"> Best for: A single flower stem or cuttings.It doesn't take up too much space, which makes it a great choice for a nightstand, desk, or bookshelf.</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="cylinder"></div>
        <div class="product-info">
            <h3>Cylinder Vase</h3>
            <p class="description">Best for: A modern flower arrangement. a good choice for a centerpiece on your coffee or dining table.</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <div class="product-card">
        <div class="four mat"></div>
        <div class="product-info">
            <h3>Ceramic Vase</h3>
            <p class="description">Best for: Any flowers

                If you're looking for a floral vessel that's made from something other than glass, a ceramic vase is a nice way to bring in a color that complements both the room and the flowers. When placing flowers inside one, however, make sure that the interior of the vase is glazed, because if it's not, the vase will not be waterproof.</p>
            <p class="price-range">$40 - $90</p>
        </div>
    </div>

    <div class="product-card">
        <div class="five rug"></div>
        <div class="product-info">
            <h3>Cube Vase</h3>
            <p class="description">Best for: A low-sitting, contemporary-style arrangement

                For a contemporary arrangement, use a cube-shaped vase that'll give your flowers a modern edge. The wide mouth makes it suitable for a low arrangement with larger flowers such as peonies or hydrangeas.</p>
            <p class="price-range">$50 - $120</p>
        </div>
    </div>

    <div class="product-card">
        <div class="six round"></div>
        <div class="product-info">
            <h3>Pitcher Vase</h3>
            <p class="description">Best for: An unfussy bouquet for the kitchen

                For a casual, farmhouse-style bouquet from the market or wildflowers from your garden, you can't go wrong with a pitcher. Whether it's ceramic or glass, arrange the flowers organically and place them on your kitchen table or island for a homey, inviting feel</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="one mat"></div>
        <div class="product-info">
            <h3>Full length mirror</h3>
            <p class="description">This Large Black Arched Mirror is a striking full length mirror design...</p>
            <p class="price-range">$50 - $100</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="two rug"></div>
        <div class="product-info">
            <h3>Pedestal Vase</h3>
            <p class="description">Best for: A dramatic floral arrangement for an event or holiday gathering

                Create a dramatic event or holiday-worthy floral arrangement by using a pedestal vase as a vessel. The vase is elevated on top of a pedestal that forms its base, whether round or square—it's perfect for a formal centerpiece.</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="three round"></div>
        <div class="product-info">
            <h3>Sculptural vase</h3>
            <p class="description">Best for: A decorative accent that can be used without flowers

                Add some personality to your room with a sculptural vase that doubles as a decorative accent, whether it's filled with flowers or it's empty. If you're looking for a unique flower holder that'll make a statement, this is an alternative to a classic glass vase.</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <div class="product-card">
        <div class="four mat"></div>
        <div class="product-info">
            <h3>Bouquet Vase</h3>
            <p class="description">Best for: Any flower bouquet.enough to hold lots of flower stems.</p>
            <p class="price-range">$40 - $90</p>
        </div>
    </div>

    <div class="product-card">
        <div class="five rug"></div>
        <div class="product-info">
            <h3>Glass Bowl Vase</h3>
            <p class="description">Put together a luscious flower arrangement in a glass bowl vase that sits low to make it the right choice for a centerpiece on a dining or coffee table. Go with a rose-only arrangement for a modern and elegant centerpiece, or create a casual look with greenery and hydrangeas.</p>
            <p class="price-range">$50 - $120</p>
        </div>
    </div>

    <div class="product-card">
        <div class="six round"></div>
        <div class="product-info">
            <h3>Antique Vase</h3>
            <p class="description">A decorative accent or to hold occasional flowers

                An antique vase is a lovely addition to your decor whether it's filled with flowers or sits empty adorning a console in the living room. Make sure there are no cracks and that its interior is fully glazed to prevent leaks.</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="one mat"></div>
        <div class="product-info">
            <h3>Narrow Neck Vase</h3>
            <p class="description">Best for: A small number of stems</p>
            <p class="price-range">$50 - $100</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="two rug"></div>
        <div class="product-info">
            <h3>Rustic Vase</h3>
            <p class="description">Best for: Faux or dried flowers and stems.If you're looking for a rustic look that goes beyond the glass Mason jar, you can find vases made of wood, galvanized metals, cement, stone, and ceramics that have distressed finishes to match farmhouse or cottage decor. </p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="three round"></div>
        <div class="product-info">
            <h3>Beaker Vase</h3>
            <p class="description">Best for: Single stems, modern groupings</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <div class="product-card">
        <div class="four mat"></div>
        <div class="product-info">
            <h3>Amphora Vase</h3>
            <p class="description">Best for: Long-stems and classic arrangements

                An amphora vase, also called a neck-handled vase, is a two-handled type of jar that is used for storage or as a vase.</p>
            <p class="price-range">$40 - $90</p>
        </div>
    </div>

    <div class="product-card">
        <div class="five rug"></div>
        <div class="product-info">
            <h3>Fluted Vase</h3>
            <p class="description">Best for: Any flowers

                A fluted design on a vase refers to the grooved texture that's created through a series of evenly spaced vertical ridges on its surface. It adds dimension and a nice decorative detail to a vase, elongating its shape.</p>
            <p class="price-range">$50 - $120</p>
        </div>
    </div>

    <div class="product-card">
        <div class="six round"></div>
        <div class="product-info">
            <h3>Trumpet Vase</h3>
            <p class="description">Best for: Single stem or small group of stems

                Trumpet vases are commonly found as a wedding or special occasion table centerpieces for their dramatic, tall, and streamlined shapes.</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div>
</div>
</div>