.title {
    color:white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
  }
.back {
    background-color: #796b6b;
    margin-top: -1rem;
}
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}

.product-card {
    width: 15%; /* Increase the width for larger image display */
    background-color: white;
    border-radius: 8px;
   
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden; /* Prevent overflow of content */
}


.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 120%;
    height: 100%;
    border-radius: 5px;
}
.product-info h3 {
    font-size: 1em; /* Reduce font size */
    margin: 8px 0; /* Reduce spacing */
}


.description {
    font-size: 0.9em; /* Reduce description font size */
    margin-bottom: 5px; /* Reduce margin */
    text-align: left; /* Align text to the left */
}

.price-range {
    font-size: 0.9em; /* Reduce font size */
    font-weight: bold;
    color: red;
}


.masonjar, .bud , .cylinder ,.ceramic,.cube,.pitcher,.urn,.pedestial,.sculpural
,.bouquet,.glass,.antique,.narrow,.rustic,.beaker,.ampora,.fluted,.trumpet{
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Make the image container square */
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.masonjar {
    background-image: url('../../assets/images/masonjar.jpeg');
}
.bud {
    background-image: url('../../assets/images/bud.jpeg');
}
.cylinder {
    background-image: url('../../assets/images/cylinder.jpeg');
}

.ceramic {
    background-image: url('../../assets/images/ceramic.jpeg');
}.cube{
    background-image: url('../../assets/images/cube.jpeg');
}
.pitcher{
    background-image: url('../../assets/images/pitcher.jpeg');
}.urn{
    background-image: url('../../assets/images/Urn.jpeg');
}.pedestial{
    background-image: url('../../assets/images/pedestial.jpeg');
}.sculpural{
    background-image: url('../../assets/images/sculpural.jpeg');
}
.bouquet{
    background-image: url('../../assets/images/baquet.jpeg');
}.glass{
    background-image: url('../../assets/images/glassbowl.jpeg');
}.antique{
    background-image: url('../../assets/images/antique.jpeg');
}.narrow{
    background-image: url('../../assets/images/narrowneck.jpeg');
}.rustic{
    background-image: url('../../assets/images/rusted.jpeg');
}.beaker{
    background-image: url('../../assets/images/beaker.jpeg');
}.ampora{
    background-image: url('../../assets/images/ampora.jpeg');
}.fluted{
    background-image: url('../../assets/images/flutted.jpeg');
}.trumpet{
    background-image: url('../../assets/images/trumpet.jpeg');
}





h3 {
    color:blue;
    font-style: italic;
  }


/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .product-card {
        width: 100%; /* Full width on smaller devices */
    }
}
.button {
    background-color:rgba(9, 9, 122, 0.932);
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon on hover */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s ease; /* Smooth hover transition */
  }
  
  .button:hover {
    background-color: #808880; /* Darker green on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
  }
  