<div class="back">
    <h1 class="title">Vases</h1>

<div class="product-section">
    <div class="product-card">
        <div class="masonjar"></div>
        <div class="product-info">
            <h3>Mason Jar Vase</h3>
            <p class="description">It's the perfect vessel for a small, casual arrangement to add a touch of rustic charm to your home.</p>
            <p class="price-range">ksh 400- ksh 5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="bud"></div>
        <div class="product-info">
            <h3>Bud  Flower Vase</h3>
            <p class="description"> Best for: A single flower stem or cuttings.It doesn't take up too much space, which makes it a great choice for a nightstand, desk, or bookshelf.</p>
            <p class="price-range">ksh 400- ksh 5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="cylinder"></div>
        <div class="product-info">
            <h3>Cylinder Vase</h3>
            <p class="description">Best for: A modern flower arrangement. a good choice for a centerpiece on your coffee or dining table.</p>
            <p class="price-range">ksh 400- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="ceramic"></div>
        <div class="product-info">
            <h3>Ceramic Vase</h3>
            <p class="description">For a floral vessel beyond glass, ceramic vases add a pop of color that complements both the room and flowers. Ensure the interior is glazed to make it waterproof.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="cube"></div>
        <div class="product-info">
            <h3>Cube Vase</h3>
            <p class="description">For a modern arrangement, a cube-shaped vase offers a contemporary edge. Its wide mouth suits low arrangements with larger flowers like peonies or hydrangeas.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="pitcher"></div>
        <div class="product-info">
            <h3>Pitcher Vase</h3>
            <p class="description">A pitcher is perfect for a casual, farmhouse-style bouquet. Arrange market flowers or wildflowers organically for a homey, inviting touch in the kitchen.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="urn"></div>
        <div class="product-info">
            <h3>Urn Vase</h3>
            <p class="description">An urn, typically featuring a pedestal and handles, is both decorative and practical. It's ideal for displaying dried or faux flowers, stems, or branches.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="pedestial"></div>
        <div class="product-info">
            <h3>Pedestal Vase</h3>
            <p class="description">A pedestal vase is perfect for dramatic floral arrangements at events or holiday gatherings. Elevated on a round or square base, it makes an ideal formal centerpiece.</p>
            <p class="price-range">>ksh 1,000- ksh 5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="sculpural"></div>
        <div class="product-info">
            <h3>Sculptural vase</h3>
            <p class="description">A sculptural vase adds personality to any room, serving as a decorative accent with or without flowers. It's a stylish alternative to a classic glass vase, making a bold statement.</p>
            <p class="price-range">>ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="bouquet"></div>
        <div class="product-info">
            <h3>Bouquet Vase</h3>
            <p class="description">Best for: Any flower bouquet.enough to hold lots of flower stems.</p>
            <p class="price-range">>ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="glass"></div>
        <div class="product-info">
            <h3>Glass Bowl Vase</h3>
            <p class="description">Create a stunning centerpiece with a low glass bowl vase filled with roses for a modern, elegant look. Alternatively, opt for a casual arrangement using greenery and hydrangeas. This design is perfect for dining or coffee tables.</p>
            <p class="price-range">>ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="antique"></div>
        <div class="product-info">
            <h3>Antique Vase</h3>
            <p class="description">An antique vase adds charm to your decor, whether filled with flowers or displayed empty. Ensure it's crack-free and fully glazed inside to prevent leaks.</p>
            <p class="price-range">>ksh 1,000- ksh 5,000</p>
        </div>
    </div>
</div>
<div class="product-section">
   
    <div class="product-card">
        <div class="rustic"></div>
        <div class="product-info">
            <h3>Rustic Vase</h3>
            <p class="description">For a rustic touch, vases made from wood, metal, cement, stone, or distressed ceramics complement farmhouse or cottage decor. They're perfect for faux or dried flowers and stems. </p>
            <p class="price-range">>ksh 1,000- ksh 5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="beaker"></div>
        <div class="product-info">
            <h3>Beaker Vase</h3>
            <p class="description">Best for: Single stems, modern groupings</p>
            <p class="price-range">ksh 300- ksh 3,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="ampora"></div>
        <div class="product-info">
            <h3>Amphora Vase</h3>
            <p class="description">An amphora vase, with two handles and a narrow neck, is ideal for long-stemmed flowers and classic arrangements. It can also be used for storage.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="fluted"></div>
        <div class="product-info">
            <h3>Fluted Vase</h3>
            <p class="description">A fluted vase features vertical ridges that add texture and decorative detail. This design elongates the vase, making it suitable for any flowers.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="trumpet"></div>
        <div class="product-info">
            <h3>Trumpet Vase</h3>
            <p class="description">Best for: Single stem or small group of stems

                Trumpet vases are commonly found as a wedding or special occasion table centerpieces for their dramatic, tall, and streamlined shapes.</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div> <div class="product-card">
        <div class="narrow"></div>
        <div class="product-info">
            <h3>Narrow Neck Vase</h3>
            <p class="description">Best for: A small number of stems</p>
            <p class="price-range">ksh 1,000- ksh 5,000</p>
        </div>
    </div>


</div>
<button class="button"  [routerLink]="['/products']">Exit</button>

</div>