
<div class="back">
    <div>
        <h1 class="title">Types and interior  of Dinning table </h1></div>
        <div class="product-section">
            <div class="product-card">
                <h3>Rectangular Dining Tables</h3>
                <div class="rectangular"></div>
                <div class="product-info">
                 
                    <p class="description">suitable for both small and large dining rooms. Rectangular tables provide a classic and traditional look, and they are great for hosting family dinners and gatherings..</p>
                </div>
            </div>
        
            <div class="product-card">
                <h3>Round Dining Tables </h3>
                <div class="round"></div>
                <div class="product-info">
                    
                    <p class="description">Round dining tables are known for their ability to create an intimate dining experience. They promote conversation and make it easy for everyone at the table to interact with each other. Round tables are an excellent choice for smaller dining areas, as they maximise space and provide a cosy atmosphere. 
                    </p>
                </div>
            </div>
            <div class="product-card">
                <h3> Square Dining Tables </h3>
                <div class="square"></div>
                <div class="product-info">
                   
                    <p class="description">Square dining tables offer a modern and sleek design. They are perfect for smaller dining rooms and can comfortably accommodate four diners. Square tables create a sense of symmetry and are ideal for casual dining or when you have a small family. </p>
                </div>
            </div>
            <div class="product-card">
                <h3> Oval Dining Tables </h3>
                <div class="oval"></div>
                <div class="product-info">
                    
                    <p class="description">Oval dining tables combine the best of both rectangular and round tables. They offer the elegance of a long table with the intimacy of a round one. Oval tables work well in both formal and informal dining rooms and can accommodate a good number of guests.</p>
                </div>
            </div>
            
        
            <!-- Add more product cards as needed -->
        </div>
    
    <div class="product-section">
        <div class="product-card">
            <h3>Freeform Dining Tables</h3>
            <div class="freeform"></div>
            <div class="product-info">
                <p class="description">These tables have irregular shapes, often resembling natural forms like tree trunks or abstract designs,they are a great choice for those who want to make a bold statement in their dining room.</p>
            </div>
        </div>
        
        <div class="product-card">
            <h3>Wood Dining Tables</h3>
            <div class="wood"></div>
            <div class="product-info">
              
                <p class="description">Wooden dining tables are timeless classics. They come in various wood types, such as oak, walnut, and pine, each with its unique characteristics and colours and add warmth and character to your dining space and can be paired with a variety of chairs to create different looks.</p>
            </div>
        </div>
        <div class="product-card">
            <h3>Sintered Stone Dining Tables</h3>
            <div class="sintered"></div>
            <div class="product-info">
                <p class="description">This material not only exudes elegance but also boasts exceptional durability and practicality, making it an excellent choice for a dining table </p>
            </div>
        </div>
        <div class="product-card">
            <h3>Glass Dining Tables</h3>
            <div class="glass"></div>
            <div class="product-info">
                <p class="description">known for their modern and airy appearance. They create a sense of space and light in your dining area. Glass tables come in various shapes and can be paired with different bases, such as metal or wood, to suit your style.</p>
            </div>
        </div>
    
        <!-- Add more product cards as needed -->
    </div>
    <div class="product-section">
        <div class="product-card">
            <h3>Metal Dining Tables</h3>
            <div class="metal"></div>
            <div class="product-info">
                <p class="description">Metal dining tables are durable and versatile. They are a great choice for outdoor dining spaces, as they can withstand various weather conditions.</p>
            </div>
        </div>
        
        <div class="product-card">
            <h3>Traditional Dining Tables </h3>
            <div class="traditional"></div>
            <div class="product-info">
                <p class="description"> Characterised by their ornate details, such as carved legs and intricate designs. They often come in rich wood finishes and create a sense of timeless elegance</p>
            </div>
        </div>
        <div class="product-card">
            <h3> Rustic Dining Tables</h3>

            <div class="rustic"></div>
            <div class="product-info">
                <p class="description">Rustic dining tables embrace a natural and rugged aesthetic. They are often made from reclaimed wood or distressed materials, giving them a weathered appearance. Rustic tables are ideal for farmhouse-style homes and add a cosy and inviting feel to your dining space</p>
            </div>
        </div>
        <div class="product-card">
            <h3> Modern and Contemporary Dining Tables</h3>

            <div class="modern"></div>
            <div class="product-info">
                <p class="description">Modern and contemporary dining tables feature clean lines, minimalistic designs, and innovative materials. They are perfect for those who prefer a sleek and uncluttered look. These tables often incorporate elements like metal, glass, and acrylic to create a cutting-edge style.</p>
            </div>
        </div>
    
        <!-- Add more product cards as needed -->
    </div>
    <button class="button"  [routerLink]="['/products']">Exit</button>
    
    </div>