
/* Title styling */
.title {
  text-align: center;
  color: blue;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}


/* Products section styling */
.products {
  background-color: gainsboro; /* Change background color */
  padding: 20px; /* Add padding for spacing */
  
}

.product-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.product-item {
  flex: 1 0 22%; /* Change to 22% to accommodate 4 items in a row */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.productone, .producttwo, .productfour,.productthree, .productfive, .productsix,
 .productseven, .producteight {
  width: 19rem; 
  height: 19rem;
  background-size: cover;
  background-position: center;
}

/* Product images */
.productone {
  background-image: url('../../assets/images/one.jpeg');
}

.producttwo  {
  background-image: url('../../assets/images/balconydeco.jpeg');
}
.productthree  {
  background-image: url('../../assets/images/outdoorpatio.jpeg');
}
.productfour {
  background-image: url('../../assets/images/bedroom.jpeg');
}
 
.productfive{
  background-image: url('../../assets/images/bathroom.jpeg');
}
.productsix{
  background-image: url('../../assets/images/Commercial.jpeg');
}
.productseven {
  background-image: url('../../assets/images/kitchen.jpeg');
}
.producteight{
  background-image: url('../../assets/images/diningtable.jpeg');
}




/* Product description */
.product-description {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff9d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 250px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 5px;
  text-align: center;
}
