<section class="products">
  <h4 class="title">Project Specialization</h4>

  <div class="product-row">
    <div class="product-item card">
      <div class="card-image productone"></div>
      <div class="card-content">
        <p class="product-description">Sitting Room Interior</p>
      </div>
    </div>
    <div class="product-item card">
      <div class="card-image producttwo"></div>
      <div class="card-content">
        <p class="product-description">Balcony Interior</p>
      </div>
    </div>
    <div class="product-item card">
      <div class="card-image productthree"></div>
      <div class="card-content">
        <p class="product-description">Outdoor Patio Interior</p>
      </div>
    </div>
  </div>

  <div class="product-row">
    <div class="product-item card">
      <div class="card-image productfour"></div>
      <div class="card-content">
        <p class="product-description">Bedroom Interior</p>
      </div>
    </div>
    <div class="product-item card">
      <div class="card-image productfive"></div>
      <div class="card-content">
        <p class="product-description">Bathroom Interior</p>
      </div>
    </div>
    <div class="product-item card">
      <div class="card-image productsix"></div>
      <div class="card-content">
        <p class="product-description">Commercial Interior</p>
      </div>
    </div>
  </div>

  <div class="product-row">
    <div class="product-item card">
      <div class="card-image productseven"></div>
      <div class="card-content">
        <p class="product-description">Kitchen Interior</p>
      </div>
    </div>
    <div class="product-item card">
      <div class="card-image producteight"></div>
      <div class="card-content">
        <p class="product-description">Dining Table Interior </p>
      </div>
    </div>
    <div class="product-item card"> <!-- Empty card for alignment -->
      <div class="card-image ballroom"></div>
      <div class="card-content">
        <p class="product-description"> Event interiors</p>
      </div>
    </div>
  </div>
  
  <div class="product-row">
    <div class="product-item card">
      <div class="card-image closet"></div>
      <div class="card-content">
        <p class="product-description">Closet interiors</p>
      </div>
    </div>
    <div class="product-item card">
      <div class="card-image producteight"></div>
      <div class="card-content">
        <p class="product-description">Dining Table Interior </p>
      </div>
    </div>
    <div class="product-item card"> <!-- Empty card for alignment -->
      <div class="card-image ballroom"></div>
      <div class="card-content">
        <p class="product-description"> Event interiors</p>
      </div>
    </div>
  </div>
</section>
