<div class="back">
    <div class="container">
        <h2>Types of Air Diffusers & Fresheners</h2>

        <!-- Essential Oil Diffusers -->
        <div class="product-type card">
            <div class="product-image">
                <div class="essential"></div> 
            </div>
            <div class="product-description">
                <h3>Essential Oil Diffusers</h3>
               
             <p>Essential oil diffusers use ultrasonic technology to disperse natural oils into the air, filling your space with a calming or energizing fragrance. They also often double as humidifiers, adding moisture to the air.</p>
             <p class="price-range">$30 - $80</p>

            </div>
        </div>

        <!-- Reed Diffusers -->
        <div class="product-type card">
            <div class="product-image">
                <div class="reed"></div> 
            </div>
            <div class="product-description">
                <h3>Reed Diffusers</h3>
                <p>Reed diffusers consist of scented oils absorbed by reeds, slowly releasing fragrance into the air without the need for heat or electricity. They are perfect for continuous, low-maintenance scenting.</p>
                <p class="price-range">$30 - $80</p>

            </div>
        </div>

        <!-- Aerosol Air Fresheners -->
        <div class="product-type card">  
            <div class="product-image">  
                <div class="aerosal"></div>   
            </div>
            <div class="product-description">
                <h3>Aerosol Air Fresheners</h3>
                <p>Aerosol air fresheners are easy-to-use sprays that provide immediate freshness. They are portable and perfect for quick bursts of fragrance in any room.</p>
                <p class="price-range">$30 - $80</p>

            </div>
        </div>
    </div>
</div>
