<div class="background">
    <div class="back">
        <h1 class="title">beautiful small kitchen designs and ideas you'll love</h1>
    <p class="descriptions">Having a little kitchen doesn’t mean you can’t have a beautiful space. In fact, designing kitchens in a small space can stretch your creativity. Let us show how you can have your dream kitchen with the limited square feet you have. Whether you’re looking for minimalistic kitchen design, simple kitchen designs or modern small kitchen ideas</p>
    <h3>Farmhouse Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="farmhouse"></div>
            <div class="product-info">
    
            </div>
        </div>
    </div>
    
    <p class="description">Farmhouse tables and furniture-like cabinetry are popular conventions, and an eclectic mix of finishes helps create a comfortable, lived-in look. Country colors range from primary red, yellow and blue to aged tones of cream and pale yellow; whatever hues you favor, mixing rather than matching is the country way to go.</p>
    <h3>Modern Kitchens</h3>

    <div class="product-section">

        <div class="product-card">
            <div class="modern"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description"> modern kitchen is designed to keep clutter to a minimum. Reflective surfaces and high-tech materials are central to the most modern kitchen, and exotic woods add a touch of luxury without frills or fabric.</p>   
    <h3>Cottage Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="cottage"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">cottage kitchens are designed to feel cozy and enveloping. With their homespun touches and imperfect finishes, cottage-style kitchens are always one of a kind and serve as the perfect backdrop for offbeat art and collectibles</p>
    <h3>Contemporary Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="contemporary"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">Where function meets family friendliness, you'll find the contemporary kitchen. The look is a carefully curated mix of materials: new and old, casual and polished</p>
        <h3>Mediterranean Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="mediterranean"></div>
            <div class="product-info">
                
            </div>
        </div>
        
    
    </div>
    <p class="description">The surfaces in a Mediterranean kitchen are elegantly timeworn, and the atmosphere is pure romance. Mediterranean ambiance has  fabrics in rich tones of russet, cobalt and ochre, warm-toned wooden cabinetry, and handmade ceramic accessories.</p>
    <h3> French Country Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="french"></div>
            <div class="product-info">
               
            </div>
        </div>
        
    
    </div>
    <p class="description">A classic French country kitchen is earthy but still very refined with details that might include a large farmhouse table, glass-front armoires for displaying collections of beautiful china, gorgeous vintage copper pans and rustic storage tins. Stately rangehoods, touches of gold, wooden beams and butcher blocks define the earthy-meets-elegant look.</p>
    <h3>Coastal Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="coastal"></div>
            <div class="product-info">
               
            </div>
        </div>
        
    
    </div>
    <p class="description">Whether you live at the beach or just wish you did, you can count on cool shades of blue, green, white and sand to create a vacation-time mood in a coastal kitchen. Seagrass and wicker seating are casual, comfortable and coastal. Fabrics and flooring designed to stand up to wet bathing suits make coastal-style kitchens easy to care for, and window treatments that allow for maximum sunlight will have everyone in let’s-get-to-the-beach mode bright and early.</p>
    <h3>Old World Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="oldworld"></div>
            <div class="product-info">
            </div>
        </div>   
    </div>  
    <p class="description"> If you yearn for a time when materials were solid and craftsmanship was king, Old World design will embrace you in history and luxury. Look for dark mahogany finishes with lots of carving and detail, countertops with ogee or bullnosed edges, and stone or wooden floors. Add historical accessories and heavy fabrics, and enjoy time travel comfortably in your own home.</p>
     <h3>Traditional Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="traditional"></div>
            <div class="product-info">
    
            </div>
        </div>
    </div>
    
    <p class="description">A traditional kitchen is the perfect backdrop for a life that centers on family, friends and holidays — but its clean, comfortable look is welcoming 365 days a year.</p>
    <h3>Boho Kitchens</h3>

    <div class="product-section">

        <div class="product-card">
            <div class="boho"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description"> Boho kitchens are infused with personality and idiosyncratic style, often feature vintage elements and collections, plants, and patterns in wallpaper and tile. There may be open shelving, natural materials like wood and tile, global touches and eclectic design that is dictated more by personal taste than trends.</p>
    <h3>Midcentury Modern Kitchens</h3>
    <div class="product-section">
        <div class="product-card">
            <div class="mid"></div>
            <div class="product-info">
                
            </div>
        </div>
        
    
    </div>
    <p class="description">With their wood details, clean lines and geometric features, midcentury modern kitchens combine the best of the past and the sleek, minimalist present.</p>
    <h3>Scandinavian Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="scand"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">Sleek Scandinavian style emphasizes clean, neutral design with a focus on natural wood tones. Exposed beams and other wooden elements often embellished with black hardware and fixtures are often used to further that minimalist-but-warm Scandi style.</p>
    <h3>Industrial Kitchens</h3>

    <div class="product-section">
        <div class="product-card">
            <div class="inds"></div>
            <div class="product-info">
            </div>
        </div>
        
    
    </div>
    <p class="description">Indebuted to the trend for urban lofts converted into living spaces, industrial kitchens often feature exposed ductwork and large, factory-style windows.</p>
    
    
    
    <button class="button"  [routerLink]="['/projects']">Exit</button>
    </div>
    </div>