





<div class="back">
    <h1 class="title">Types of Decorative Candle</h1>

<div class="product-section">
    <div class="product-card">
        <div class="taper"></div>
        <div class="product-info">
            <p class="price-range">ksh 300- ksh5,000</p>

        </div>
    </div>
</div>

<h3>Taper Candles</h3>
<p class="description">Taper candles require a candle holder to support them. Their reputation for elegance is emphasized by charming candlesticks or ornate candelabras that are just as much part of the decor as the candles themselves. Sprinkle stand-alone tapers in crystal holders on the mantle for a glamorous display, or position a modern candelabra in the center of the dinner table as a bold accent for romantic meals.</p>

<div class="product-section">
    <div class="product-card">
        <div class="pillar"></div>
        <div class="product-info">
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Pillar Candles</h3>
<p class="description">Pillar candles have wide, cylindrical silhouettes in many colors and can stand on their own without a candle holder. They range from just a few inches tall to over a foot, spanning up to six inches wide. Because of their larger size, they often have multiple wicks to promote even burning. The array of sizes means an array of different burn times, increasing with the height and width</p>

<div class="product-section">
    <div class="product-card">
        <div class="votive"></div>
        <div class="product-info">
            
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Votive Candles</h3>
<p class="description">Votives are short, cylindrical candles that are perfect for ambiance. They require a container that is purchased separately, often made of glass to let the flame shine through. Known for producing little to no smoke, you can use many of them in one spot to create a calming atmosphere. They are small but they pack a punch, burning for up to fifteen hours.</p>

<div class="product-section">
    <div class="product-card">
        <div class="tea"></div>
        <div class="product-info">
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Tea Lights</h3>
<p class="description">Originally made to keep pots of tea warm for a few hours, tea lights are small and shallow candles with a short burn time. They always come in their own casings of thin metal or plastic and do not require an additional holder unless desired. The wax is usually a classic white, but colorful renditions can be found.</p>

<div class="product-section">
    <div class="product-card">
        <div class="floating"></div>
        <div class="product-info">
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Floating Candles</h3>
<p class="description">A close relative in size to the tea light, floating candles are small, flat disks that can float on water's surface. They are generally safe to use, being surrounded by water, and they last a few hours, making them a popular choice for events.

    These floating beauties are highly decorative with an unmistakable element of glamor. Place the candles in individual vases with a twig or leaves in the bottom for a natural display</p>

<div class="product-section">
    <div class="product-card">
        <div class="container"></div>
        <div class="product-info">
            
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Container Candles</h3>
<p class="description">To make a container candle, liquid wax is poured directly into the vessel it will be burned in. Like pillar candles, they can vary greatly in size and therefore burn time. Because they are safely contained, they are popular for casual use around the house. While many candle companies use the container as a branding and labeling opportunity, the containers themselves can add just as much to the experience as the candle itself</p>

<div class="product-section">
    <div class="product-card">
        <div class="novelity"></div>
        <div class="product-info">
           
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Novelty Candles</h3>
<p class="description">"Novelty" is the catch-all term for candles with unique qualities and appearances. These candles are usually considered decorative works of art, and you may choose not to light them at all. Carved candles are carefully peeled to form intricate curls, a technique popularized in Germany and Holland. Some candles may be sculpted by hand into statues, or poured into unique molds to form unusual shapes</p>

<div class="product-section">
    <div class="product-card">
        <div class="scented"></div>
        <div class="product-info">
           
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    

</div>
<h3>Scented/Aromatherapy Candles</h3>
<p class="description">You'll find the widest variety of scents with container candles, but they can easily add pizazz to other types as well. A pleasant aroma wafting through your rooms will add another dimension to your decor and can emphasize the environment you'd like to achieve. Is your mood relaxed, cozy, or refreshed? Does the season call for fresh floral scents, or deep gourmand scents? Decorate with your nose to choose a fragrance that matches your preference and the mood. If you are sensitive to smell and just want the warm glow of the candle's flame, go for unscented options.</p>

<div class="product-section">
    <div class="product-card">
        <div class="flameless"></div>
        <div class="product-info">
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>

    

    

</div>
<h3>Flameless Candles</h3>

<p class="description"> These battery-operated candles often have a thin wax or plastic casing to mimic the appearance of a real candle. An LED light illuminates the faux flame to give you the same gentle flickering effect without the fire hazard.</p>


<button class="button"  [routerLink]="['/products']">Exit</button>
</div>