

<div class="back">
    <h1 class="title">Vase fillers</h1>

<div class="product-section">
    <div class="product-card">
        <h3>Split Peas</h3>
    <div class="split"></div>
        <div class="product-info">
        </div>
    </div>
    
    <div class="product-card">
        <h3> Moss, Willow, and Burlap-Covered Balls</h3>

        <div class="moss"></div>
        <div class="product-info">
        </div>
    </div>
    
    <div class="product-card">
        <h3> Elegant Eggs </h3>

        <div class="eggs"></div>
        <div class="product-info">
        </div>
    </div>

    <div class="product-card">
        <h3>Wine Cork Fillers</h3>

        <div class="winecork"></div>
        <div class="product-info">
        </div>
    </div>
    <div class="product-card">
        <h3>  Colorful Thumbtack Vase Fillers Ideas</h3>

        <div class="thumpstuck"></div>
        <div class="product-info">
        </div>
    </div>
    <div class="product-card">
        <h3> Sand and Seashells</h3>

        <div class="seashells"></div>
        <div class="product-info">
        </div>
    </div>

  

  
</div>
<div class="product-section">
    <div class="product-card">
        <h3>Coffee Beans</h3>

        <div class="coffeebeans"></div>
        <div class="product-info">
        </div>
    </div>
    
    <div class="product-card">
        <h3> Pebbles</h3>

        <div class="pebbles"></div>
        <div class="product-info">
        </div>
    </div>
    
    <div class="product-card">
        <h3>Bouncy Balls
        </h3>
        <div class="bouncy"></div>
        <div class="product-info">
           
        </div>
    </div>

    <div class="product-card">
        <h3>Alphabet Magnets</h3>

        <div class="alphabetmagnets"></div>
        <div class="product-info">
        </div>
    </div>
    <div class="product-card">
        <h3>Scrabble Tiles</h3>

        <div class="scrabbletiles"></div>
        <div class="product-info">
        </div>
    </div>

    <div class="product-card">
        <h3> Rustic Spools of Thread Vase Filler Ideas</h3>

        <div class="rustic"></div>
        <div class="product-info">
        </div>
    </div>


   
</div>
<div class="product-section">
    <div class="product-card">
        <h3>Spray Painted Pinto Beans</h3>

        <div class="pintobeans"></div>
        <div class="product-info">
        </div>
    </div>
    
    <div class="product-card">
        <h3> Rock Salt Filler</h3>

        <div class="saltfiller"></div>
        <div class="product-info">
        </div>
    </div>
    
    <div class="product-card">
        <h3>Glass Marbles</h3>

        <div class="marbles"></div>
        <div class="product-info">
        </div>
    </div>

    <div class="product-card">
        <h3>Shredded Book Pages</h3>

        <div class="shredded"></div>
        <div class="product-info">
        </div>
    </div>
    <div class="product-card">
        <h3>Branch Vase Filler Ideas</h3>

        <div class="branch"></div>
        <div class="product-info">
        </div>
    </div>

    <div class="product-card">
        <h3> Acrylic Stones</h3>

        <div class="acrylic"></div>
        <div class="product-info">
        </div>
    </div>


   
</div>


<button class="button"  [routerLink]="['/products']">Exit</button>

</div>




