

<div class="back">
    <h1 class="title">Glass Marbles</h1>

<div class="product-section">
    <div class="product-card">
        <div class="vases"></div>
        <div class="product-info">
            <h3>vases</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="baskets"></div>
        <div class="product-info">
            <h3> Storage baskets</h3>
            <p class="price-range">ksh 500-ksh 3,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="books"></div>
        <div class="product-info">
            <h3>Books</h3>
            <p class="price-range">ksh 300- ksh3,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="bookend"></div>
        <div class="product-info">
            <h3>bookends</h3>
            <p class="price-range">ksh 1,000-ksh 3,000</p>
        </div>
    </div>

  

  
</div>
<div class="product-section">
    <div class="product-card">
        <div class="greenary"></div>
        <div class="product-info">
            <h3>greenery</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="throw"></div>
        <div class="product-info">
            <h3> A cozy throw</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="magazine"></div>
        <div class="product-info">
            <h3>magazine holders
            </h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="sculpture"></div>
        <div class="product-info">
            <h3>sculpture</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>

  

   
</div>
<div class="product-section">
   
    <div class="product-card">
        <div class="hourglass"></div>
        <div class="product-info">
            <h3>Hour Glass</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="tome"></div>
        <div class="product-info">
            <h3>a tome</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="candleholder"></div>
        <div class="product-info">
            <h3>Candle Holders</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>

    <div class="product-card">
        <div class="mementos"></div>
        <div class="product-info">
            <h3>Mementos</h3>
            <p class="price-range">ksh 300- ksh5,000</p>
        </div>
    </div>

   
   

</div>

<button class="button"  [routerLink]="['/products']">Exit</button>

</div>




