<div class="back">
    <div class="closet-section">
       
            <h1 class="title">Ideas for Designing the Closet of Your Dreams</h1>
          
        
    </div>
    <div class="product-section">
        <div class="product-card">
            <div class="product-layout">
                <div class="dresser"></div>
                <div class="product-info">
                    <h3>Add a Dresser</h3>
                    <p class="description">If you have a custom  and spacious closet , you'll have plenty of room to accommodate a dresser.This design features not only a lot of hanging storage space, but also offers drawers for all of your folded clothes.</p>                    
                </div>
            </div>
        </div>
        
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Create a Place for Shoes/shoerack</h3>
                    <p class="description">Optimize your closet space by dedicating a home for everything including adding a shoerack .you need to store in a way that makes it easy to sort through and see exactly what you have.</p>
                </div>
                <div class="shoerack"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="standard"></div>
                <div class="product-info">
                    <h3>Add Space in a Standard Closet</h3>
                    <p class="description">Just because you don't have a walk-in closet doesn't mean you can't benefit from a gorgeous custom closet organizing system </p>
                </div>
            </div>
        </div>

        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Create a Place for Accessories</h3>
                    <p class="description">Make your closet  functional by featuring a vanity and drawers that are perfect for stashing all of your accessories, jewelry, and makeup. </p>
                </div>
                <div class="acceso"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Use Baskets</h3>
                    <p class="description">An easy way to add extra storage and keep your closet space tidy is by adding baskets, Baskets are perfect for random articles that don't have another home .</p>
                </div>
                <div class="baskets"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Add Lighting</h3>
                    <p class="description">Don't underestimate the value of a wonderful light fixture.hanging light fictures can elevate your space and give it that custom look and feel.</p>
                </div>
                <div class="lighting"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Add a Table</h3>
                    <p class="description">If you have the space, adding a table to the center of your closet can be a great way to add a landing for folding clothes. A side chair is also a great alternative to add a touch of space for organizing.</p>
                </div>
                <div class="table"></div>
            </div>
        </div>
      
     
    </div>
    <button class="button"  [routerLink]="['/projects']">Exit</button>

</div>
