<div class="back">
    <div>
        <h1 class="title">Types of Throw Pillows to Decorate Your Home With</h1>
    </div>
    <h1 class="title"> Common Types of Throw Pillow Shapes</h1>
 
    <div class="product-section">
        <div class="product-card">
            <div class="product-layout">
                <div class="square"></div>
                <div class="product-info">
                    <h3>Square Pillows: The All-Around All-Star</h3>
                    <p class="description">The square pillow, a classic throw pillow style, is the cornerstone of interior design,
                         versatile and timeless. Whether it’s a petite 16-inch for a subtle accent or a generous 24-inch Euro pillow
                          to anchor your living space, these pillows are the go-to for a reason. Wrapped in a luxurious fabric
                           cover or boasting a simple, solid color, the square pillow easily adapts to any style. 
                           It’s a reliable choice for a quick living room refresh or as a staple in your throw pillow collection.</p>                   
                </div>
            </div>
        </div>
        
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3> Lumbar Pillows: The Supportive Statement</h3>
                    <p class="description">Lumbar pillows, a popular type of accent pillow, 
                        offer a stylish solution to comfort with their elongated elegance. 
                        They work wonders on a deep sofa, as a statement piece on a window seat, or as a final 
                        touch to a guest bed, bringing both form and function to your space. </p>
                </div>
                <div class="lumbar"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="round"></div>
                <div class="product-info">
                    <h3>Round Pillows: The Soft Accent</h3>
                    <p class="description">Round pillows are a delightful departure from the traditional. Their smooth curves bring a unique visual softness to any decor. These charming orbs defy the convention of straight lines, introducing a playful element to rigid furniture pieces. 
                        Perfect for nestling into a reading corner or adding a touch of whimsy to a child’s bedroom,
                         round pillows are as functional as they are decorative. The circular shape of a round pillow offers a 
                         welcome deviation, inviting creativity in arrangement and styling. </p>
                </div>
            </div>
        </div>

        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Bolster Pillows: The Versatile Classic</h3>
                    <p class="description">Elongated and elegant, bolster pillows add a distinctive touch to traditional and contemporary spaces. Often found gracing the ends of luxurious sofas or the center of a majestic bed, 
                        these pillows combine practical support with sophisticated style</p>
                </div>
                <div class="bolster"></div>
            </div>
        </div>
        <div>
            <h1 class="title">Common Types of Throw Pillow Materials & Textures</h1>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Cotton and Linen: The Breathable Naturals</h3>
                    <p class="description">Cotton and linen throw pillows are like the cool breeze on a warm day – refreshing and utterly soothing. Known for their breathability and durability, the natural fibers of these throw pillow fabrics are a go-to for a relaxed, comfortable vibe</p>
                </div>
                <div class="cotton"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Velvet and Silk: The Luxurious Touches</h3>
                    <p class="description">When it comes to adding a dash of opulence to your space,
                         velvet and silk throw pillows are your best allies,they exude a delicate charm and
                          sophistication, perfect for adorning a formal living room or a master suite. These materials feel incredible and add a visual depth that captivates and delights.</p>
                </div>
                <div class="velvet"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3> Faux Fur and Wool: The Cozy Companions</h3>
                    <p class="description">Perfect alongside a cozy throw blanket. Faux fur adds a layer of plush warmth, perfect for snuggling up on a chilly evening. Wool’s natural texture and warmth brings a rustic, homey feel to any space. These materials are not just about comfort; they bring an aesthetic of warmth and welcome that beckons you to relax and unwind.</p>
                </div>
                <div class="faux"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Patterned and Embroidered: The Artistic Expressions</h3>
                    <p class="description">Patterned and embroidered pillows are some of the most popular types of decorative pillows, 
                        serving as storytellers of the cushion world.
                        these pillows celebrate design. They offer an opportunity to infuse your personality into your decor,
                         turning a simple sofa or chair into a canvas of artistic expression.</p>
                </div>
                <div class="patterned"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Textured (Tufted, Quilted, Pleated): The Dimensional Darlings</h3>
                    <p class="description">Texture in throw pillows is like the spice in cooking –
                         it can completely transform the experience. Tufted, quilted, and pleated pillows add
                          a tactile dimension to your decor. Tufted pillows, with their buttoned accents, 
                          bring a classic charm. Quilted patterns offer a homely, comforting appeal, 
                          while pleated designs add a sophisticated, refined touch. These textures play with light
                           and shadow, bringing a dynamic visual interest to your space.</p>
                </div>
                <div class="textured"></div>
            </div>
        </div>   
    </div>
    <button class="button"  [routerLink]="['/products']">Exit</button>

</div>
