


/* Default navbar styles */
.navbar {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood; 
    overflow: hidden;
    flex-wrap: wrap; /* Allows wrapping of items */
}

.navbar .logo {
    background-image: url('../../assets/images/logowe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem; 
    height: 3rem; 
    margin-right: 20px; /* Space between logo and nav links */
}

.nav-links {
    display: flex;
    margin-left: auto; /* Pushes nav links to the right */
}

.nav-links .nav-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    margin-left: 2rem; /* Add spacing between links */
}

.nav-links .nav-link:hover {
    color: #ddd; /* Lighter color on hover */
}

/* Responsive design for mobile devices */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
    }

    .logo {
        margin-left: 0; /* Adjust the logo position */
        margin-bottom: 10px; /* Add spacing below the logo */
        align-self: center; /* Center logo in mobile view */
    }

    .nav-links {
        width: 100%; /* Full width for nav links on mobile */
        justify-content: flex-start; /* Align links to the left */
        flex-direction: column; /* Stack links vertically */
    }

    .nav-links .nav-link {
        margin-left: 0; /* Remove horizontal margin */
        padding: 10px 0; /* Add vertical padding for better spacing */
        font-size: 16px; /* Adjust font size for mobile */
    }
}
