<nav class="navbar">
  <div class="logo"></div>
  <div class="hum" (click)="toggleMenu()">
    <img src="/menu.png" alt="Menu Icon" />
  </div>
  
  <!-- Show the nav-links only when isMenuOpen is true or on large screens -->
  <div class="nav" [ngClass]="{'open': isMenuOpen}" *ngIf="isMenuOpen || screenWidth > 768">
    <ul class="nav-links">
      <li><a [routerLink]="['/home']">HOME</a></li>
      <li><a [routerLink]="['/about']">ABOUT</a></li>
      <li><a [routerLink]="['/products']">PRODUCTS</a></li>
      <li><a [routerLink]="['/projects']">PROJECTS</a></li>
      <li><a [routerLink]="['/contactus']">CONTACTS</a></li>
    </ul>
  </div>
</nav>
