
<div class="back">
    <div>
        <h1 class="title">Interior Design Styles For Your Bedroom</h1></div>
        <div class="product-section">
            <div class="product-card">
                <div class="Eclectic"></div>
                <div class="product-info">
                    <h3> Eclectic Style Bedroom </h3>
                    <p class="description"> Eclectic style means, ‘anything goes’ but planned meticulously with 
                        proper use of colour, texture, patterns to tie the whole look together. When you mix and
                         match furniture combined images sure each one compliments each other and not clash.
                          You can use bright, bold colours but remember to keep flooring neutral to avoid a sensory overload.</p>
                </div>
            </div>
            
            <div class="product-card">
                <div class="cottage"></div>
                <div class="product-info">
                    <h3>Cottage Style Bedroom</h3>
                    <p class="description"> When you think of cottage style bedrooms, you think of cosy, wooden flooring, thick blankets, isn’t it? And that is exactly what cottage style bedrooms are all about. Thick comfy cushions, heavy rustic wooden furniture, painted wood, and natural fibres.m
                    </p>
                    </div>
            </div>
            <div class="product-card">
                <div class="mediterenian"></div>
                <div class="product-info">
                    <h3> Mediterranean Style Bedroom</h3>
                    <p class="description"> Mediterranean style is a fusion of sophistication and elegance. The style takes influence from European pompousness, rustic decor, and earthy colour schemes combined with modern and contemporary elements. High ceilings with exposed beams accented with wrought iron. </p>
                    </div>
            </div>
          
        
            <!-- Add more product cards as needed -->
        </div>
    
    <div class="product-section">
        <div class="product-card">
            <div class="contemporary"></div>
            <div class="product-info">
                <h3>Contemporary Style Bedroom</h3>
                <p class="description"> Warm colours and wood furnishing teamed with soft textures with a modern design can make your bedroom from ‘eh’ to ‘wow’ in no time. Contemporary bedroom interiors make use of natural light for a bright and airy feel for a spot of relaxation.</p>
            </div>
        </div>
        
        <div class="product-card">
            <div class="coastal"></div>
            <div class="product-info">
                <h3>Coastal Style Bedroom</h3>
                <p class="description">Coastal bedroom interior design is casual, peace inspiring, uses plenty of warm colours, and timeworn furnishings to suit the theme, including ocean life and waves. Opt for wood in distressed finishes like it has spent some with waves</p>
            </div>
        </div>
        <div class="product-card">
            <div class="wendy"></div>
            <div class="product-info">
                <h3> Traditional Style Bedroom</h3>
                <p class="description">STraditional styles embrace classic design, the symmetrical placing of furniture and motifs, vibrant colour palettes, and a comfortable vibe. Spice up your bedroom with radiant colours, original artwork, funky wallpaper </p>
            </div>
        </div>
       
    
        <!-- Add more product cards as needed -->
    </div>

    <div class="product-section">
        <div class="product-card">
            <div class="rustic"></div>
            <div class="product-info">
                <h3>Rustic Style Bedroom</h3>
                <p class="description"> Rustic decor means warm tones, upcycled furniture, massive rugs were thrown across the floor and beat up storage trunks. A rustic style bedroom is your answer to a modern cosy escape from hectic urban life</p>

            </div>
        </div>
        
        <div class="product-card">
            <div class="industry"></div>
            <div class="product-info">
                <h3>Industrial Style Bedroom</h3>
                <p class="description">Bring the magic of industrial precision and style home with industrial elements like dark metal, exposed bricks and beams and unfinished walls</p>

            </div>
        </div>
        <div class="product-card">
            <div class="scandinavian"></div>
            <div class="product-info">
                <h3> Scandinavian Style Bedroom</h3>
                <p class="description">Scandinavian style bedroom designs are characterised by the minimal decor, clean and simple lines – so functional and beautiful. </p>
            </div>
        </div>
       
    
        <!-- Add more product cards as needed -->
    </div>

   
    <button class="button"  [routerLink]="['/projects']">Exit</button>

    </div>