<div class="container">
 
  
    <section class="products">
      <h4 class="title">Products</h4>
      <p class="p">
        Transform your living spaces with Wendy’s Interiors! We offer a diverse range of products  to elevate both the functionality and beauty of your interiors. Discover the possibilities and explore our offerings tailored to meet your unique style 
        , and start your journey to a more inspiring home.
      </p>
      <div class="product-row">
        <div class="product-item card">
          <div class="card-image productone"></div>
          <div class="card-content">
            <p class="product-description">Mirrors</p>
            <button class="button" [routerLink]="['/mirror']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image producttwo"></div>
          <div class="card-content">
            <p class="product-description">Carpets</p>
            <button class="button" [routerLink]="['/carpets']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image productthree"></div>
          <div class="card-content">
            <p class="product-description">Vases</p>
            <button class="button"  [routerLink]="['/vases']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image productfour"></div>
          <div class="card-content">
            <p class="product-description">Wall Art</p>
            <button class="button"  [routerLink]="['/wallart']">View and Learn More</button>
          </div>
        </div>
      </div>
    
      <div class="product-row">
        <div class="product-item card">
          <div class="card-image productfive"></div>
          <div class="card-content">
            <p class="product-description">Decor pieces</p>
            <button class="button"  [routerLink]="['/decorpieces']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image productsix"></div>
          <div class="card-content">
            <p class="product-description">Lighting</p>
            <button class="button"  [routerLink]="['/lighting']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image productseven"></div>
          <div class="card-content">
            <p class="product-description">Artificial plants</p>
            <button class="button"  [routerLink]="['/artificialplants']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image producteight"></div>
          <div class="card-content">
            <p class="product-description">Candles</p>
            <button class="button"  [routerLink]="['/candles']">View and Learn More</button>
          </div>
        </div>
      </div>
    
      <div class="product-row">
        <div class="product-item card">
          <div class="card-image productnine"></div>
          <div class="card-content">
            <p class="product-description">Colorful glassware</p>
            <button  class="button"  [routerLink]="['/colorful']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image productten"></div>
          <div class="card-content">
            <p class="product-description">Decorative pillows</p>
            <button class="button"  [routerLink]="['/pillows']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image producteleven"></div>
          <div class="card-content">
            <p class="product-description">Diffusers</p>
            <button  class="button"  [routerLink]="['/airfreshener']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image producttwelve"></div>
          <div class="card-content">
            <p class="product-description">Photo frames</p>
            <button class="button"  [routerLink]="['/wallart']">View and Learn More</button>
          </div>
        </div>
      </div>
    
      <div class="product-row">
        <div class="product-item card">
          <div class="card-image prodone"></div>
          <div class="card-content">
            <p class="product-description">Trending curtains</p>
            <button class="button"  [routerLink]="['/curtainholder']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image prodtwo"></div>
          <div class="card-content">
            <p class="product-description">Wall papers</p>
            <button class="button"  [routerLink]="['/wallpapers']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image prodthree"></div>
          <div class="card-content">
            <p class="product-description">Glass marbles</p>
            <button class="button"  [routerLink]="['/marbles']">View and Learn More</button>
          </div>
        </div>
        <div class="product-item card">
          <div class="card-image prodfour"></div>
          <div class="card-content">
            <p class="product-description">Showpieces</p>
            <button class="button"  [routerLink]="['/showpieces']">View and Learn More</button>
          </div>
        </div>
      </div>
    </section>
    
  
  </div>
  
