<div class="back">
    <h1 class="title">Deco Pieces</h1>

<div class="product-section">
    <div class="product-card">
        <div class="masonjar"></div>
        <div class="product-info">
            <h3>vases</h3>
            <p class="description">zaxsdfghjkl;/</p>
            <p class="price-range">$50 - $100</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="bud"></div>
        <div class="product-info">
            <h3>baskets</h3>
            <p class="description"> storahe baskets</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="cylinder"></div>
        <div class="product-info">
            <h3>Books</h3>
            <p class="description">a vertical stack or horizontal stack of books with spines out or pages out</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <div class="product-card">
        <div class="ceramic"></div>
        <div class="product-info">
            <h3>bookends</h3>
            <p class="description">Bookends are designed to keep books upright and aligned on shelves, preventing slips and falls.</p>
            <p class="price-range">$40 - $90</p>
        </div>
    </div>

    <div class="product-card">
        <div class="cube"></div>
        <div class="product-info">
            <h3>a unique bowl</h3>
            <p class="description">xcvbnhmj,k.</p>
            <p class="price-range">$50 - $120</p>
        </div>
    </div>

    <div class="product-card">
        <div class="pitcher"></div>
        <div class="product-info">
            <h3>artwork</h3>
            <p class="description">\zaxsdfghjk</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="urn"></div>
        <div class="product-info">
            <h3>greenery</h3>
            <p class="description">asdfhyjuki</p>
            <p class="price-range">$50 - $100</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="pedestial"></div>
        <div class="product-info">
            <h3>a decorative box</h3>
            <p class="description">zabmj</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="sculpural"></div>
        <div class="product-info">
            <h3>magazine holders
            </h3>
            <p class="description">asdfghjk.l</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <div class="product-card">
        <div class="bouquet"></div>
        <div class="product-info">
            <h3>sculpture</h3>
            <p class="description">asdfgh</p>
            <p class="price-range">$40 - $90</p>
        </div>
    </div>

    <div class="product-card">
        <div class="glass"></div>
        <div class="product-info">
            <h3>picture frames</h3>
            <p class="description">asdfghj,k</p>
            <p class="price-range">$50 - $120</p>
        </div>
    </div>

    <div class="product-card">
        <div class="antique"></div>
        <div class="product-info">
            <h3>decorative boxes</h3>
            <p class="description">ascdvfgnhjkl</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div>
</div>
<div class="product-section">
   
    <div class="product-card">
        <div class="rustic"></div>
        <div class="product-info">
            <h3>Hour Glass</h3>
            <p class="description">For a rustic touch, vases made from wood, metal, cement, stone, or distressed ceramics complement farmhouse or cottage decor. They're perfect for faux or dried flowers and stems. </p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="beaker"></div>
        <div class="product-info">
            <h3>a tome</h3>
            <p class="description">Best for: Single stems, modern groupings</p>
            <p class="price-range">$30 - $80</p>
        </div>
    </div>

    <div class="product-card">
        <div class="ampora"></div>
        <div class="product-info">
            <h3>Candle Holders</h3>
            <p class="description">An amphora vase, with two handles and a narrow neck, is ideal for long-stemmed flowers and classic arrangements. It can also be used for storage.</p>
            <p class="price-range">$40 - $90</p>
        </div>
    </div>

    <div class="product-card">
        <div class="fluted"></div>
        <div class="product-info">
            <h3>Mementos</h3>
            <p class="description">Mementos with strong emotional value should give you the tingles whenever you see them. These aren’t items to box away in the attic.</p>
            <p class="price-range">$50 - $120</p>
        </div>
    </div>

    <div class="product-card">
        <div class="trumpet"></div>
        <div class="product-info">
            <h3>Stackable rocks</h3>
            <p class="description">BFor bookshelf decor, you don’t want to use anything too heavy. Lightweight stones are what to use on shelves</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div> <div class="product-card">
        <div class="narrow"></div>
        <div class="product-info">
            <h3>miniature glass dome</h3>
            <p class="description">Glass domes are used to build terrariums, sometimes on the miniature level. You can buy glass domes in various sizes and use them to display any of your creations</p>
            <p class="price-range">$35 - $75</p>
        </div>
    </div>


</div>
</div>