<div class="back">
    <h1 class="title">Deco Pieces</h1>

<div class="product-section">
    <div class="product-card">
        <div class="vases"></div>
        <div class="product-info">
            <h3>vases</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="baskets"></div>
        <div class="product-info">
            <h3> Storage baskets</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="books"></div>
        <div class="product-info">
            <h3>Books</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="bookend"></div>
        <div class="product-info">
            <h3>bookends</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="bowl"></div>
        <div class="product-info">
            <h3>a unique bowl</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="art"></div>
        <div class="product-info">
            <h3>artwork</h3>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="greenary"></div>
        <div class="product-info">
            <h3>greenery</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="throw"></div>
        <div class="product-info">
            <h3> A cozy throw</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="magazine"></div>
        <div class="product-info">
            <h3>magazine holders
            </h3>
        </div>
    </div>

    <div class="product-card">
        <div class="sculpture"></div>
        <div class="product-info">
            <h3>sculpture</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="frames"></div>
        <div class="product-info">
            <h3>picture frames</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="box"></div>
        <div class="product-info">
            <h3>decorative boxes</h3>
        </div>
    </div>
</div>
<div class="product-section">
   
    <div class="product-card">
        <div class="hourglass"></div>
        <div class="product-info">
            <h3>Hour Glass</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="tome"></div>
        <div class="product-info">
            <h3>a tome</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="candleholder"></div>
        <div class="product-info">
            <h3>Candle Holders</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="mementos"></div>
        <div class="product-info">
            <h3>Mementos</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="rocks"></div>
        <div class="product-info">
            <h3>Stackable rocks</h3>
        </div>
    </div> <div class="product-card">
        <div class="glassdome"></div>
        <div class="product-info">
            <h3>miniature glass dome</h3>
        </div>
    </div>

</div>
<div class="product-section">
   
    <div class="product-card">
        <div class="tray"></div>
        <div class="product-info">
         
            <h3>Modern Decorative  Display Tray</h3>

        </div>
    </div>
    
    <div class="product-card">
        <div class="pouf"></div>
        <div class="product-info">
            <h3> An ottoman pouf</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="throw"></div>
        <div class="product-info">
            <h3> A cozy throw</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="wallclock"></div>
        <div class="product-info">
            <h3> Wall Clock</h3>
            <p class="description"></p>
        </div>
    </div>

    <div class="product-card">
        <div class="shelf"></div>
        <div class="product-info">
            <h3> bookshelf</h3>
            <p class="description"></p>
        </div>
    </div> 
<div class="product-card">
        <div class="bookshelf"></div>
        <div class="product-info">
            <h3> bookshelf</h3>
            <p class="description"></p>
        </div>
    </div>
    


</div>
<button class="button"  [routerLink]="['/products']">Exit</button>

</div>