<div class="back">
    <h1 class="title">Sitting room furniture</h1>

<div class="product-section">
    <div class="product-card">
        <div class="sofa"></div>
        <div class="product-info">
            <h3>Living Room Sofa</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="coffeetable"></div>
        <div class="product-info">
            <h3>Coffee Table</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="accentchair"></div>
        <div class="product-info">
            <h3>Accent Chair</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="entertainment"></div>
        <div class="product-info">
            <h3>Entertainment Centre</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="bookshelf"></div>
        <div class="product-info">
            <h3>Bookshelf</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="sidetable"></div>
        <div class="product-info">
            <h3>Side Table</h3>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="ottoman"></div>
        <div class="product-info">
            <h3>Ottoman</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="florrlamp"></div>
        <div class="product-info">
            <h3>Floor Lamp</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="arearug"></div>
        <div class="product-info">
            <h3>Area Rug</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="consoletable"></div>
        <div class="product-info">
            <h3>Console table</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="tablestand"></div>
        <div class="product-info">
            <h3>Tv Stand</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="dinningtable"></div>
        <div class="product-info">
            <h3>Dinning Table</h3>
        </div>
    </div>
</div>

<button class="button"  [routerLink]="['/projects']">Exit</button>

</div>