.back {
    background-image: url('../../assets/images/four.jpeg');
    margin-top: -1rem;
    padding: 1rem; /* Add some padding for better visual spacing */
}


.title {
    color: rgb(146, 41, 41);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.product-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  padding: 5px;
}

.product-card,.product-cardtwo{
    width: 50%; /* Base width for larger screens */
    border-radius: 8px;
    background-color: #796b6b;
     padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden; /* Prevent overflow of content */
    flex: 1 1 45%; /* Each card will take up 45% of the width */
  
}

.product-cardtwo{
    margin-left: auto; 
}

.product-card:hover {
    transform: scale(1.05);
}

.product-layout {
    display: flex;
    align-items: center; /* Center vertically */
}

.product-info {
    flex: 1; /* Allow the text section to take available space */
    text-align: left; /* Align text to the left */
}

.product-image {
    max-width: 120%;
    height: auto;
    border-radius: 5px;
}

.product-info h3 {
    font-size: 1.2em;
    margin: 10px 0;
   color:blue;
  
    
}

.description {
    color:black;
    margin-bottom: 8px;
}

.price-range {
    font-weight: bold;
    color: red;
}

.gogreen,.sette ,.rag,.maximize,.swing,.colorinspo,.awning,.vibrant,.pillows,.railings,.faux,.firepit,.walldeco{
    width: 20rem; /* Fixed width for images */
    height: 20rem; /* Fixed height for images */
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Add rounded corners to images */
    margin: 0 10px; /* Add margin to separate image and text */
}
.gogreen{
    background-image: url('../../assets/projects/gogreen.png');
}
.sette {
    background-image: url('../../assets/projects/sette.jpeg');
}
.rag{
    background-image: url('../../assets/projects/ragdurable.png');
}
.maximize{
    background-image: url('../../assets/projects/maximi.png');
}
.swing{
    background-image: url('../../assets/projects/swing.png');
}
.colorinspo{
    background-image: url('../../assets/projects/interior.png');
}
.awning{
    background-image: url('../../assets/projects/awninnone.jpeg');
}
.vibrant {
    background-image: url('../../assets/projects/vibrant.jpeg');
}
.pillows{
    background-image: url('../../assets/projects/pillows.png');
}
.railings{
    background-image: url('../../assets/projects/railing.jpeg');
}
.faux{
    background-image: url('../../assets/projects/fauxone.jpeg');
}
.firepit{
    background-image: url('../../assets/projects/firepit.jpeg');
}
.walldeco{
    background-image: url('../../assets/projects/Wall\ decor.jpeg');
}




/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .product-card {
        flex-direction: column; /* Stacks items vertically on mobile */
        gap: 10px; /* Adjust gap */
               
    }
    .product-layout {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to start */
        
    }

    .gogreen,.sette ,.rag,.maximize,.swing,.colorinspo,.awning,.vibrant,.pillows,.railings,.faux,.firepit,.walldeco {
        flex-direction: column; /* Stacks items vertically on mobile */
        gap: 5px; /* Adjust gap */
        width: 11rem; /* Make images responsive */
        height: 18rem; /* Auto height for mobile */
       object-fit: cover;
       background-position: center;
       background-size: cover;
    }
   
}


.button {
    background-color:rgba(9, 9, 122, 0.932);
    padding: 10px 20px; 
    color: white; /* White text */
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
  }
  
  .button:hover {
    background-color: #808880; /* Darker green on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
  }
  