
<div class="back">
    <div>
        <h1 class="title">Creative Balcony Ideas to Inspire</h1>
    </div>
    <div class="product-section">
        <div class="product-card">
            <div class="product-layout">
                <div class="gogreen"></div>
                <div class="product-info">
                    <h3>Go big with greenery</h3>
                    <p>Greenery injects life and color into this balcony’s neutral palette</p>
.                </div>

            </div>
        </div>
        
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="sette"></div>
                <div class="product-info">
                    <h3>Use a settee to create a reading nook</h3>
                   <p> A settee is the quintessentially versatile balcony furniture pick: It makes for a comfortable lounge seat for one but also provides ample room for more, if you plan to host alfresco soirees 
                    The balcony is a perfect place to curl up and read while bathing in the sunshine, so think about incorporating a small settee that’s comfortable for lounging,
                   </p>
                </div>

            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="rag"></div>
                <div class="product-info">
                    <h3>Lay down a durable outdoor rug</h3>
                  <p>Be sure to seek out durable, UV-friendly rugs for your balcony ,adding that the right piece has a unique power to elevate a balcony’s style</p>
                </div>
            </div>
        </div>

        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                     <h3>Maximize your seating potential</h3>
                     <p> Add character to your rooms with chandeliers.These lighting fixtures offered tiered lighting to ensure your home is  brightly lit</p>

                    <p class="price-range">ksh 2,500-ksh 10,000</p>
                </div>
                <div class="maximize"></div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Skip the hammock in favor of a swing</h3>
            <p> Swinging seating provides a touch of whimsy.Why settle for an ordinary bench when you can opt for a swinging one?
                If your balcony offers a bit more space, you can even consider a suspended daybed, which the designer notes is full of all kinds of possibilities: </p>
                </div>
                <div class="swing"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Look to your home’s interior design for color inspo</h3>
                    <p class="description"> Consider nodding to your home’s interior color palette on your balcony.“We aim to keep the feeling of the inside of the house…with fabrics that have a similar feel and palette</p>
                </div>
                <div class="colorinspo"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Add an awning or a trellis to create a cozy indoor vibe outside</h3>
                    <p class="description">An awning can make your balcony feel more like a true piece of your home when it’s available for lounging regardless of rainy weather.</p>
                </div>
                <div class="awning"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Go vibrant</h3>
                    <p class="description">Bright colors and lively patterns can invigorate even the smallest of 
                        balcony spaces</p>
                </div>
                <div class="vibrant"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Make use of oversized throw pillows                   </h3>
                    <p class="description">Large throw pillows are a versatile, cost-effective alternative to more formal balcony 
                        seating.If you prefer a relaxed, minimalist style and don’t wish to spend much on outdoor furnishings, consider laying down some oversized
                         throw pillows for a streamlined yet welcoming look</p>
                </div>
                <div class="pillows"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Adorn your balcony railings with flower boxes</h3>
                    <p class="description">Even if you don’t have room for a full-on balcony garden in your small space, hanging some planters on the railing of your balcony will instantly bring life
                         and color to your outdoor retreat</p>
                </div>
                <div class="railings"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Put down some faux turf</h3>
                    <p class="description">Green turf gives this modest balcony an earthy feel.</p>
                </div>
                <div class="faux"></div>
            </div>
        </div>
        <div class="product-cardtwo">
            <div class="product-layout">
                <div class="product-info">
                    <h3>Warm up to a fire pit</h3>
                    <p class="description">A fire pit that comes complete with its own top covering provides
                         a great centerpiece for any balcony, no matter the season.It creates ambiance on a cool fall evening and provides cozy heat into the winter</p>
                </div>
                <div class="firepit"></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-layout">
                <div class="product-info">
                    <h3> Don’t forget the wall decor</h3>
                    <p class="description">Just as you would in your actual living room, don’t forget to give the walls some attention when it comes to your balcony design</p>
                </div>
                <div class="walldeco"></div>
            </div>
        </div>
    
     
    </div>
    <button class="button"  [routerLink]="['/projects']">Exit</button>

</div>




