<div class="back">
    <h1 class="title">Bathroom Decor Ideas to Liven up Your Space</h1>

<div class="product-section">
    <div class="product-card">
        <div class="mirrors"></div>
        <div class="product-info">
            <h3>Mirrors</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="glasswall"></div>
        <div class="product-info">
            <h3>Invisible Glass walls</h3>

        </div>
    </div>
    
    <div class="product-card">
        <div class="baskets"></div>
        <div class="product-info">
            <h3>Baskets</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="floating"></div>
        <div class="product-info">
            <h3>Floating shelves on the walls</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="marble"></div>
        <div class="product-info">
            <h3>Marble self-adhesive paper</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="plants"></div>
        <div class="product-info">
            <h3>Indoor Plants</h3>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="product-card">
        <div class="rod"></div>
        <div class="product-info">
            <h3> Towel rods</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="organizer"></div>
        <div class="product-info">
            <h3>bathroom organizers</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="walpanel"></div>
        <div class="product-info">
            <h3>Decorative bathroom wall panels</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="wallapper"></div>
        <div class="product-info">
            <h3>bathroom wallpaper</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="rug"></div>
        <div class="product-info">
            <h3>Rug</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="curtain"></div>
        <div class="product-info">
            <h3> patterned shower curtain</h3>
        </div>
    </div>
</div>

<button class="button"  [routerLink]="['/projects']">Exit</button>

</div>













