<div class="container-fluid">
    <section id="content">
        <!-- NAVBAR -->
        <nav class="navbar">
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Home</a>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">About</a>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Products</a>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Contact Us</a>
        </nav>
        
        <div class="main-content">
            <!-- Logo -->
            <img src="../../assets/images/logo.jpg" >
        
            <!-- Your main content goes here -->
            <p>Experience Your</p>
            <p>home Interior</p>
        
            <router-outlet></router-outlet>
        </div>
        


    </section>
</div>
