
#content {
    
    background-image: url('../../assets/images/back.jpg');
    min-height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: -40px; /* Adjust this value as needed */
}
/* Apply Flexbox to the parent container */
.main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    flex-direction: column; 
}

/* Style for paragraphs */
.main-content p {
    color: whitesmoke; 
    font-size: 70px; 
    font-weight: 900;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #4158D0; background-image:linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    display: inline-block; 
    margin: 10px 0; 
}
.para{

   color: goldenrod; 
   font-style: italic;
   font-weight: bold;
   display: flex;
   justify-content: center; 
   align-items: center; 
   flex-direction: column; 
   font-size:3rem ;
   margin-top: -15rem;
    
   
}





