<div class="container-fluid">
    <section id="content">   
        <div class="main-content">
            <div class="para"><h2> Wendy's Interiors</h2></div>
            <p class="style">Crafting Spaces that</p>

            <div class="p">
                <p >Reflect Your Style</p>
            </div>

            


            <!-- Card wraps all the paragraphs -->
            <div class="card">
               
                <p class="parag">Design Your Dream Home with us</p>
                <button class="but" [routerLink]="['/projects']">Discover More</button>
            </div>
            <!-- Button remains outside the card -->
            <a href="tel:+254748831857" class="call-button">
                <i class="fas fa-phone-alt"></i>
            </a>
        </div>        
    </section>
</div>
