
<div class="back">
    <h1 class="title"> Inspiring Patio Decorating Ideas to Reinvent Your Outdoor Space</h1>

<div class="product-section">
    <div class="product-card">
        <div class="plantwall"></div>
        <div class="product-info">
            <h3> Arrange a Living Plant Wall</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="rug"></div>
        <div class="product-info">
            <h3> Outdoor Rug</h3>
            <p class="description">\ASDFG</p>
        </div>
    </div>
    
    <div class="product-card">
        <div class="dinning"></div>
        <div class="product-info">
            <h3>Dining Chairs</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="canopy"></div>
        <div class="product-info">
            <h3>Canopy Bed</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="conversation"></div>
        <div class="product-info">
            <h3>Conversation Space</h3>
        </div>
    </div>
    <div class="product-card">
        <div class="string"></div>
        <div class="product-info">
            <h3>String Up Lights</h3>
        </div>
    </div>

   
</div>
<div class="product-section">
    <div class="product-card">
        <div class="grass"></div>
        <div class="product-info">
            <h3>Use Artificial Grass Between Pavers</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="fireplace"></div>
        <div class="product-info">
            <h3>Build an Outdoor Fireplace</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="geometric"></div>
        <div class="product-info">
            <h3>Go Bold With Geometric Flooring</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="preppy"></div>
        <div class="product-info">
            <h3>Incorporate Preppy Touches</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="pallet"></div>
        <div class="product-info">
            <h3>Pallet Garden</h3>
        </div>
    </div>
    <div class="product-card">
        <div class="porch"></div>
        <div class="product-info">
            <h3>Grow Your Porch With Pavers</h3>
        </div>
    </div>

   
</div>

<div class="product-section">
    <div class="product-card">
        <div class="sheer"></div>
        <div class="product-info">
            <h3> Hang Sheer Panels</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="lanterns"></div>
        <div class="product-info">
            <h3>Suspend Paper Lanterns</h3>
        </div>
    </div>
    
    <div class="product-card">
        <div class="ottoman"></div>
        <div class="product-info">
            <h3>Try an Oversized Ottoman</h3>
        </div>
    </div>

    <div class="product-card">
        <div class="greenery"></div>
        <div class="product-info">
            <h3> Layer in Gorgeous Greenery
            </h3>
        </div>
    </div>

    <div class="product-card">
        <div class="bricks"></div>
        <div class="product-info">
            <h3>Get Creative With Bricks</h3>
        </div>
    </div>
    <div class="product-card">
        <div class="comfychars"></div>
        <div class="product-info">
            <h3>Invest in Comfy Chairs and throwpillows</h3>
        </div>
    </div>

   
</div>

<button class="button"  [routerLink]="['/projects']">Exit</button>

</div>






















